openapi: 3.0.3
info:
  title: RiskModels API
  version: 3.0.0-agent
  description: >
    POST /decompose returns variance shares and ETF hedge ratios for any US equity,
    separating factor exposure from the residual bet so you can hedge what you don't want.
    Daily history to 2000 across ~3,000 US equities.

    Precision equity risk intelligence platform with AI agent integration.


    **New in v3.0.0-agent:**

    - OAuth2 client credentials flow for machine-to-machine auth

    - Plaid Investments integration for live portfolio sync

    - MCP (Model Context Protocol) server for AI agent tools

    - Compliance manifests for AI marketplace integration

    - Per-key rate limiting and scoped access control


    **Data**: Universe `uni_mc_3000` (top ~3,000 US stocks by market cap), date range
    2000 to present (deep panel; stock-specific skill series from ~2001 after warmup),
    updated daily end-of-day. Model outputs are computed by the ERM3
    regression system (Huber/Ridge), with Zarr v2 archives on Google Cloud Storage for research
    pipelines. The live API reads primarily from Supabase **V3** tables: long-form
    `security_history` (returns, volatility, L1/L2/L3 hedge ratios and explained-risk metrics),
    wide latest rows in `security_history_latest`, identity in `symbols`, plus supporting surfaces
    such as `trading_calendar`, `erm3_landing_chart_cache`, and `macro_factors`. Cross-sectional
    **rankings** (`GET /rankings/*`) are served from precomputed rank metric keys in
    `security_history`, not a separate `erm3_rankings` table. Hedge ratios (`*_hr`) are
    **dollar_ratio** ETF notionals per $1 stock and are distinct from regression **betas**
    (`l1_mkt_beta`, `l2_sec_beta`, `l3_sub_beta`), which are dimensionless coefficients from
    the hierarchical L1/L2/L3 regression. Both are exposed under `MetricsV3` and on
    `security_history_latest`. See `SEMANTIC_ALIASES.md` for the full HR-vs-beta convention.


    **Authentication Methods:**

    1. Session cookies (web app)

    2. API Key/Secret via Bearer token (external integrations)

    3. OAuth2 client credentials (AI agents, npm package)


    **Security Features:**

    - GCP KMS envelope encryption for portfolio data

    - Cryptographic shredding on key deletion

    - HMAC-SHA256 webhook verification

    - Row-level security (RLS) via Supabase


    **Pricing**: Per-request billing with prepaid balance. Cached responses are free.
    Many metered responses include `_agent.cost_usd` in the JSON body; others bill silently — always
    check the `X-API-Cost-USD` response header when present. Metered operations also expose
    `x-pricing` (OpenAPI extension) with `capability_id`, `tier` (`baseline` | `premium`), `model`,
    `cost_usd`, `billing_code`, and optional `min_charge` / per-token fields — aligned with
    `GET /pricing` and `lib/agent/capabilities.ts`.

    **Lineage**: JSON data responses include `_metadata` (model version, data_as_of, factor set)
    and headers `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size`.
    Parquet and CSV bodies omit `_metadata`; use the same `X-Risk-*` headers on the HTTP response.

    **Tabular exports (Parquet / CSV):** For bulk historical loads, time-series endpoints accept
    `format=parquet` or `format=csv`, or (when `format` is omitted) `Accept: application/vnd.apache.parquet`
    or `Accept: text/csv`. Successful responses use `Content-Type: application/vnd.apache.parquet` or
    `text/csv; charset=utf-8` and `Content-Disposition: attachment` with a descriptive filename.
    Each export is a single flat table; column names and types match the per-operation schemas referenced
    in the response media type descriptions (aligned with JSON row objects or zipped parallel arrays).
    Parquet is produced via schema inference from the first row (UTF8 strings, DOUBLE floats, INT64 integers,
    BOOLEAN, TIMESTAMP_MILLIS for JavaScript Date values). CSV uses a header row, comma separators, UTF-8,
    and RFC 4180-style quoting when needed. Prefer Parquet for typed columnar stacks (pandas, Polars, Arrow);
    use CSV for spreadsheets and lightweight scripting.

  contact:
    name: RiskModels Support
    email: service@riskmodels.app
    url: https://riskmodels.app

  termsOfService: https://riskmodels.app/legal
  license:
    name: Commercial
    url: https://riskmodels.app/legal

servers:
  - url: https://riskmodels.app/api
    description: Production — all metered endpoints (`/metrics`, `/snapshot`, `/decompose`, `/batch/analyze`, `/portfolio/*`, etc.).
  - url: https://riskmodels.app
    description: Discovery origin — `/.well-known/*` manifests (`mcp.json`, `ai-plugin.json`, `agentic-disclosure.json`) live at the site origin without the `/api` prefix. Generated clients that hard-code the first server entry must strip `/api` before requesting these paths.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: rm_agent_{environment}_{random}_{checksum}
      description: >
        API key in format `rm_agent_{live|test}_{random}_{checksum}` or `rm_user_{random}_{checksum}`.
        Obtain via `POST /api/auth/provision` or from riskmodels.app/settings → API Keys.
        Include as: `Authorization: Bearer rm_agent_live_...`

    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://riskmodels.app/api/auth/token
          scopes:
            ticker-returns: Access ticker returns and historical data
            risk-decomposition: Access L3 risk decomposition
            batch-analysis: Perform portfolio batch analysis
            factor-correlation: Correlate stocks with macro factors (VIX, Bitcoin, Gold, etc.)
            macro-factor-series: Download daily macro factor return series (no ticker)
            chat-risk-analyst: Use AI risk analyst
            plaid:holdings: Access Plaid-synced portfolio holdings
            "*": Full API access

  parameters:
    FormatQueryTabular:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum: [json, parquet, csv]
        default: json
      description: >
        Response carrier. `json` (default): structured payload for this operation (body includes
        `_metadata` where documented). `parquet` / `csv`: a single flat table of time-series rows only —
        lineage comes from `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size`.
        When this parameter is omitted, `Accept: application/vnd.apache.parquet` or `Accept: text/csv`
        selects the tabular format.

  schemas:
    AgentMeta:
      type: object
      description: Per-request billing and telemetry metadata appended to metered responses.
      properties:
        cost_usd:
          type: number
          format: float
          description: Cost deducted from prepaid balance for this request. 0 if served from cache.
          example: 0.005
        latency_ms:
          type: integer
          description: Server processing time in milliseconds.
          example: 145
        request_id:
          type: string
          description: Unique request identifier for support lookups.
          example: req_abc123xyz
        confidence:
          type: object
          properties:
            overall:
              type: number
              format: float
              minimum: 0
              maximum: 1
              example: 0.98
            factors:
              type: object
              additionalProperties:
                type: number
        data_freshness:
          type: string
          format: date-time
          description: ISO timestamp of the data's as-of datetime.
          example: "2026-02-21T10:30:00Z"
        billing_code:
          type: string
          description: Internal billing classification for this request type.
          example: ticker_returns_v2
        cache_status:
          type: string
          enum: [HIT, MISS, BYPASS]
          description: Whether this response was served from cache.
        llm_cost_usd:
          type: number
          format: float
          description: >
            POST /chat only: portion of cost from LLM token billing (estimated preflight charge).
        tool_cost_usd:
          type: number
          format: float
          description: POST /chat only; sum of internal data tool charges for this turn.
        tool_calls:
          type: integer
          description: POST /chat only; number of tool invocations in this request.

    ChatToolCallSummary:
      type: object
      description: One internal tool invocation from POST /chat (billing + latency).
      properties:
        tool:
          type: string
          description: OpenAI function name (e.g. get_risk_metrics).
        capability:
          type: string
          nullable: true
          description: Billing capability id, or null for free tools (e.g. search_tickers).
        cost_usd:
          type: number
          format: float
        latency_ms:
          type: integer
        error:
          type: string
          nullable: true

    RiskMetadata:
      type: object
      description: >
        Lineage and provenance metadata for all data responses.
        Included in response body as _metadata and as X-Risk-* headers.
      properties:
        model_version:
          type: string
          description: ERM3 model version (e.g. ERM3-L3-v30).
          example: "ERM3-L3-v30"
        data_as_of:
          type: string
          format: date
          description: Latest trading date reflected in the response (model outputs / latest snapshot).
          example: "2026-03-17"
        factor_set_id:
          type: string
          description: Factor set identifier.
          example: "SPY_uni_mc_3000"
        universe_size:
          type: integer
          description: Number of stocks in the universe.
          example: 2987
        wiki_uri:
          type: string
          format: uri
          description: Methodology documentation URL.
          example: "https://riskmodels.app/docs/methodology/erm3-l3"
        factors:
          type: array
          items:
            type: string
          description: L3 factor ETF tickers (market + 11 sectors).
          example:
            [
              "SPY",
              "XLK",
              "XLF",
              "XLV",
              "XLE",
              "XLI",
              "XLY",
              "XLP",
              "XLU",
              "XLB",
              "XLRE",
              "XLC",
            ]
        data_source:
          type: string
          enum: [zarr]
          description: >
            Present on history-style JSON responses. Always `"zarr"` as of the pure-Zarr SSOT
            cutover: all historical time series (daily metrics, hedge weights, returns
            decomposition, rankings) are served from consolidated Zarr stores on GCS. The
            Supabase `security_history` table has been removed; the legacy `"supabase"` value
            is retained in clients only for backwards compatibility.
        range:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
            format: date
          description: >
            Optional inclusive ISO date bounds of the returned history window when `data_source` is set.
          example: ["2018-01-02", "2026-04-14"]

    EstimateResponse:
      type: object
      description: Cost estimate for a request before it is made.
      required:
        - estimated_cost_usd
        - capability
        - pricing_model
        - note
      properties:
        estimated_cost_usd:
          type: number
          format: float
          example: 0.008
        estimated_tokens:
          type: integer
          example: 400
        estimated_rows:
          type: integer
          description: Estimated row count for time-series endpoints.
        estimated_bytes:
          type: integer
          description: Estimated response size in bytes.
        capability:
          type: string
          example: "ticker-returns"
        pricing_model:
          type: string
          enum: [per_request, per_position, per_token, subscription]
        unit_cost_usd:
          type: number
          format: float
        min_charge:
          type: number
          format: float
        note:
          type: string
          example: "Actual cost may vary. Cached responses are free."

    MetricsV3:
      type: object
      description: >
        V3 metric keys as returned inside `GET /metrics/{ticker}` under the `metrics` property.
        Suffixes: `_mkt` market, `_sec` sector, `_sub` subsector, `_res` residual.
        Hedge ratios (HR) are dollars of ETF to trade per $1 of stock; explained risk (ER) are variance fractions (0–1).
        Keys `l1_cfr`–`l3_rr` are daily simple returns from returns decomposition:
          - `*_cfr` (combined factor return) is CUMULATIVE through the level: `l1_cfr = l1_fr`,
            `l2_cfr = l1_fr + l2_fr`, `l3_cfr = l1_fr + l2_fr + l3_fr`.
          - `*_fr`  (factor return, INCREMENTAL) is each level's own contribution —
            `l2_fr` is what the sector factor adds on top of L1 alone, `l3_fr` is what
            the subsector factor adds on top of L1+L2. Use these for stacked-bar decomposition
            charts or for agent-side attribution ("what drove today's return at each level?").
          - `*_rr`  (residual return) is what's left after factors through that level —
            `gross_return ≈ l3_cfr + l3_rr`.
        Keys `lstar_rr` and `lstar_level` carry the Lstar-dispatched residual return and
        the level that was picked, per-(teo, symbol), at the canonical 1% threshold.
        Use these when you want "the best residual" — the idiosyncratic leg at the same
        hedge depth as production HR/ER. For a custom threshold, hit `GET /lstar`.
        None of these are ER fields and none come from hedge-weight explainability.
        Keys `l1_mkt_beta`, `l2_sec_beta`, `l3_sub_beta` are dimensionless hierarchical regression betas
        (one per level: 1 for L1, 2 for L2, 3 for L3 — though only the L*-introduced new factor is stored at each level).
        These are NOT the same as hedge ratios — betas are regression coefficients, hedge ratios are dollar-notional ratios.
      properties:
        vol_23d:
          type: number
          format: float
          nullable: true
          description: Annualised realised volatility (23 trading days), decimal fraction.
        vol_252d_ann:
          type: number
          format: float
          nullable: true
          description: >
            Annualised realised volatility over the trailing ~252 trading days,
            decimal fraction. Computed on demand from daily `returns_gross` and cached
            per (symbol, data_as_of); matches the horizon of 1y return cascades so
            callers can size positions on a common basis. Null when fewer than 20
            usable daily observations are available.
        price_close:
          type: number
          format: float
          nullable: true
        market_cap:
          type: number
          format: float
          nullable: true
        stock_var:
          type: number
          format: float
          nullable: true
        l1_mkt_hr:
          type: number
          format: float
          nullable: true
        l1_mkt_er:
          type: number
          format: float
          nullable: true
        l1_res_er:
          type: number
          format: float
          nullable: true
        l1_cfr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple combined factor return through L1 (market), decimal (same convention as returns_gross).
            From returns-decomposition zarr (ds_erm3_returns), not hedge weights. Not a variance fraction — unlike l1_mkt_er.
            At L1 this is equal to l1_fr (there's no level below market to add on top of).
        l1_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L1 (market) — the INCREMENTAL contribution of the
            market factor alone. At L1 this equals l1_cfr. Use `l1_fr`/`l2_fr`/`l3_fr` for
            stacked-bar factor decomposition charts and for per-level P&L attribution.
        l1_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L1 (decimal). Not l1_res_er (explained risk).
        l2_mkt_hr:
          type: number
          format: float
          nullable: true
        l2_sec_hr:
          type: number
          format: float
          nullable: true
        l2_mkt_er:
          type: number
          format: float
          nullable: true
        l2_sec_er:
          type: number
          format: float
          nullable: true
        l2_res_er:
          type: number
          format: float
          nullable: true
        l2_cfr:
          type: number
          format: float
          nullable: true
          description: Daily simple combined factor return through L2 (market + sector), decimal. Equals l1_fr + l2_fr.
        l2_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L2 (sector) — the INCREMENTAL contribution the
            sector factor adds on top of L1 (market). For a sector-led rally this is the
            number to highlight in charts.
        l2_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L2 (decimal).
        l3_mkt_hr:
          type: number
          format: float
          nullable: true
        l3_sec_hr:
          type: number
          format: float
          nullable: true
        l3_sub_hr:
          type: number
          format: float
          nullable: true
        l3_mkt_er:
          type: number
          format: float
          nullable: true
        l3_sec_er:
          type: number
          format: float
          nullable: true
        l3_sub_er:
          type: number
          format: float
          nullable: true
        l3_res_er:
          type: number
          format: float
          nullable: true
          description: Idiosyncratic variance fraction at L3.
        l3_cfr:
          type: number
          format: float
          nullable: true
          description: Daily simple combined factor return through L3 (market + sector + subsector), decimal. Equals l1_fr + l2_fr + l3_fr.
        l3_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L3 (subsector) — the INCREMENTAL contribution the
            subsector factor adds on top of L1 + L2. Completes the three-level stacked
            decomposition: l1_fr + l2_fr + l3_fr + l3_rr ≈ gross_return.
        l3_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L3 (decimal). Distinct from l3_residual_er (ER).
        lstar_rr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple residual return at the Lstar-dispatched level — L1→market,
            L2→sector, L3→subsector residual. Materialized as
            `residual_return.sel(level='lstar')` in `ds_erm3_returns` at the canonical
            1% marginal-ER threshold. For a configurable threshold use `GET /lstar`.
        lstar_level:
          type: integer
          format: int32
          nullable: true
          enum: [1, 2, 3, null]
          description: >
            Which cascade level Lstar dispatched to per (teo, symbol) at the canonical
            1% threshold: 1 = L1 (market only), 2 = L2 (sector), 3 = L3 (subsector).
            `null` = no recommendation (both L2 and L3 ER are NaN — pre-IPO / delisted
            / masked). Maps from the uint8 `lstar_level` companion var in
            `ds_erm3_returns`, with 0 → null at the API boundary. For a custom
            threshold use `GET /lstar` which returns the level as a string.
        l1_mkt_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L1 market factor (always SPY). Dimensionless
            (units of stock-return per unit of factor-return). One value per symbol from the L1 model.
            Sourced from `ds_erm3_betas` `factor_beta` at `fact_level=1`. NOT a hedge ratio (which is
            dollar-notional). NOT classical univariate beta — see `SEMANTIC_ALIASES.md` for the
            multivariate-vs-univariate convention.
        l2_sec_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L2 sector factor — the symbol's specific sector ETF
            (e.g. XLK for AAPL, XLF for JPM). Dimensionless. From `ds_erm3_betas` `factor_beta` at
            `fact_level=2`. Null when the symbol has no sector classification.
        l3_sub_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L3 subsector factor — the symbol's specific
            subsector ETF (e.g. RSPT for AAPL, KBE for JPM). Dimensionless. From `ds_erm3_betas`
            `factor_beta` at `fact_level=3`. Null when the symbol has no subsector classification.

    LevelHedgeSnapshot:
      type: object
      description: >
        One hierarchical level (L1, L2, or L3) as a standalone hedge solution — HR and ER for each
        populated leg plus resolved ETF mnemonics. Null legs indicate that leg is not part of this level.
      required:
        - market_hr
        - sector_hr
        - subsector_hr
        - market_er
        - sector_er
        - subsector_er
        - residual_er
        - hedge_etfs
      properties:
        market_hr:
          type: number
          nullable: true
          description: Dollar-ratio HR (ETF notional per $1 stock).
        sector_hr:
          type: number
          nullable: true
        subsector_hr:
          type: number
          nullable: true
        market_er:
          type: number
          nullable: true
          description: Explained-risk variance fraction where defined for this level.
        sector_er:
          type: number
          nullable: true
        subsector_er:
          type: number
          nullable: true
        residual_er:
          type: number
          nullable: true
        hedge_etfs:
          type: object
          required: [market, sector, subsector]
          properties:
            market:
              type: string
              example: SPY
            sector:
              type: string
              nullable: true
            subsector:
              type: string
              nullable: true

    HedgeLevelsBlock:
      type: object
      description: >
        Canonical L1/L2/L3 hedge snapshots (additive on metrics, decompose, batch success rows).
        Prefer this block over parsing flat `l*_mkt_hr` wire keys when comparing cascade levels.
      required: [L1, L2, L3]
      properties:
        L1:
          $ref: "#/components/schemas/LevelHedgeSnapshot"
        L2:
          $ref: "#/components/schemas/LevelHedgeSnapshot"
        L3:
          $ref: "#/components/schemas/LevelHedgeSnapshot"
        recommended_level:
          type: string
          enum: [L1, L2, L3]
          nullable: true
          description: Economic recommendation when emitted (user-segment hedge gate).
        statistical_lstar:
          type: string
          enum: [L1, L2, L3]
          nullable: true
          description: Orthogonal cascade statistical layer pick.

    DecomposeRequest:
      type: object
      description: Request body for `POST /decompose`.
      required:
        - ticker
      properties:
        ticker:
          type: string
          description: Stock ticker symbol (case-insensitive; trimmed and upper-cased).
          example: NVDA

    DecomposeLayer:
      type: object
      description: >
        One layer of the four-bet decomposition. `er` is a variance fraction in
        [0, 1]. `hr` is a dollar-ratio hedge ratio (dollars of ETF per $1 of
        stock). `residual` has no tradable ETF, so `hr` and `hedge_etf` are
        null for that layer.
      required:
        - er
        - hr
        - hedge_etf
      properties:
        er:
          type: number
          nullable: true
          description: Explained-risk variance fraction for this layer.
          example: 0.22
        hr:
          type: number
          nullable: true
          description: Hedge ratio (dollar ratio) for this layer. Null for residual.
          example: 0.35
        hedge_etf:
          type: string
          nullable: true
          description: Tradable ETF for this layer. Null for residual.
          example: XLK

    DecomposeResponse:
      type: object
      description: >
        Wire response for `POST /decompose`. Semantic four-layer shape; each
        tradable layer maps to one ETF. The top-level `hedge` map is the
        negative of each layer's `hr` keyed by ETF (ready to convert into
        short notionals).
      required:
        - ticker
        - symbol
        - data_as_of
        - teo
        - exposure
        - hedge
      properties:
        ticker:
          type: string
          example: NVDA
        symbol:
          type: string
          description: Canonical symbol key in V3 registry.
        data_as_of:
          type: string
          format: date
          description: Latest trading day the metrics apply to.
        teo:
          type: string
          format: date
          description: V3 observation date (time-end) for this row.
        exposure:
          type: object
          required: [market, sector, subsector, residual]
          properties:
            market:
              $ref: "#/components/schemas/DecomposeLayer"
            sector:
              $ref: "#/components/schemas/DecomposeLayer"
            subsector:
              $ref: "#/components/schemas/DecomposeLayer"
            residual:
              $ref: "#/components/schemas/DecomposeLayer"
        hedge:
          type: object
          additionalProperties:
            type: number
          description: >
            Map of hedge-ETF → dollar ratio (= negative of the layer `hr`).
            If two layers share the same ETF (e.g. subsector falls back to
            the sector ETF), the values are summed so each ETF appears once.
          example:
            SPY: -1.10
            XLK: -0.35
            SMH: -0.60
        hedge_levels:
          $ref: "#/components/schemas/HedgeLevelsBlock"
          nullable: true
          description: >
            Canonical L1/L2/L3 compare alongside the L3-focused `exposure` map. Prefer this when the
            user asks how L1/L2/L3 hedge ratios differ — `exposure` alone is the four-bet semantic view for L3.
        _metadata:
          type: object
          description: Lineage, billing code, and freshness (same shape as `/metrics`).
        _data_health:
          type: object
          properties:
            er_populated:
              type: boolean
            er_sum:
              type: number
              nullable: true
              description: Sum of L3 ER layers (should be ≈ 1 within tolerance).

    CanonicalSnapshotPortfolioRequest:
      type: object
      description: >
        Request body for `POST /api/snapshot` when `type` is `portfolio`. Each position must
        include exactly one of `weight` (fractional or dollar — normalized to weights) or `shares`
        (converted using latest `price_close`). Do not mix weight-based and share-based rows in one request.
      required: [type, portfolio]
      properties:
        type:
          type: string
          enum: [portfolio]
        portfolio:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required: [ticker]
            properties:
              ticker:
                type: string
                description: US equity ticker (case-insensitive; normalized to uppercase).
              weight:
                type: number
                format: float
                exclusiveMinimum: 0
                description: Positive weight or dollar amount (server normalizes to sum to 1).
              shares:
                type: number
                format: float
                exclusiveMinimum: 0
                description: Share count; converted to weights using latest `price_close`.
        lookback_days:
          type: integer
          minimum: 20
          maximum: 2000
          default: 252
          description: Trading days of history for return curves and attribution series.
        mode:
          type: string
          enum: [frozen]
          default: frozen
          description: Currently only `frozen` (initial weights held through the window).
        benchmark:
          type: string
          nullable: true
          description: Optional benchmark ticker (reserved).

    CanonicalSnapshotTickerRequest:
      type: object
      description: >
        Request body for `POST /api/snapshot` when `type` is `ticker`. Single-name shim that
        delegates to the same DAL paths used by `/metrics/{ticker}` and `/decompose`, returning
        the unified `CanonicalSnapshotResponse` shape. Response includes `snapshot.ticker_meta`
        with the active L3 factors (`[SPY, sector_etf, subsector_etf]` deduped).
      required: [type, ticker]
      properties:
        type:
          type: string
          enum: [ticker]
        ticker:
          type: string
          description: US equity ticker (case-insensitive; normalized to uppercase).
        lookback_days:
          type: integer
          minimum: 20
          maximum: 2000
          default: 252
          description: Trading days of history for return curves and attribution series.
        mode:
          type: string
          enum: [frozen]
          default: frozen
          description: Currently only `frozen`.
        benchmark:
          type: string
          nullable: true
          description: Optional benchmark ticker (reserved).

    CanonicalSnapshotResponse:
      type: object
      description: >
        Canonical JSON portfolio snapshot: L3 variance decomposition, frozen-weight daily
        attribution (gross and factor strips), cumulative return and drawdown, and risk summary.
        Response also includes `_metadata` and `_agent` (see other metered POST routes).


        When the request supplies a `benchmark` (alias like `SPY` or `70/30`, or a `BW-BENCH-*`
        id), both `snapshot.benchmark_context_id` and `metadata.benchmark_context_id` carry the
        resolved `BenchmarkContext` id — the same id consumers can fetch from
        `/api/data/benchmark/{id}` for methodology / components / `benchmark_kind`. The raw
        `benchmark` string still echoes back unchanged; unresolved values produce a `null`
        `benchmark_context_id` (and the raw string is preserved for back-compat).
      required: [snapshot, time_behavior, attribution, risk_summary, metadata]
      properties:
        snapshot:
          type: object
          additionalProperties: true
        time_behavior:
          type: object
          additionalProperties: true
        attribution:
          type: object
          additionalProperties: true
        risk_summary:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true

    FundamentalsRow:
      type: object
      description: >
        One PIT quarterly observation. Derived analytics plus, in sec_facts, raw
        line items for cells whose serving value is SEC XBRL (public). Any ratio
        lacking 4 finite trailing quarters, or hitting a guard (equity <= 0,
        debt <= 0, missing beta), is null. Never clipped.
      properties:
        period_end_date:
          type: string
          format: date
          description: Quarterly reporting period end.
        filed_date:
          type: string
          format: date
          nullable: true
          description: Filing date used for PIT visibility (filed_date <= as_of).
        filed_date_source:
          type: string
          enum: [exact, approx]
          nullable: true
          description: >
            exact = vendor filing date; approx = period_end + 45 days (10-Q
            deadline) when the vendor date is missing.
        sec_facts:
          type: object
          description: >
            Raw line items for this period, present only for cells whose serving
            value is SEC XBRL. Keyed by concept (revenue, net_income,
            total_equity, cash_from_operations, dividends_paid, share_repurchases,
            etc.); a concept is absent when its cell is vendor-sourced or empty.
          additionalProperties:
            type: object
            properties:
              value:
                type: number
              source:
                type: string
                enum: [us_gaap, ifrs]
        gross_margin:
          type: number
          nullable: true
          description: Currently always null — inputs not yet in the store.
        operating_margin:
          type: number
          nullable: true
          description: Currently always null — inputs not yet in the store.
        roe_ttm:
          type: number
          nullable: true
          description: TTM net income over trailing-4-quarter average equity. Null if average equity <= 0.
        roa_ttm:
          type: number
          nullable: true
          description: TTM net income over trailing-4-quarter average total assets.
        leverage_ratio:
          type: number
          nullable: true
          description: Total debt / total equity (book). Null if equity <= 0.
        fcf_margin:
          type: number
          nullable: true
          description: TTM free cash flow (CFO - capex) over TTM revenue.
        payout_ratio:
          type: number
          nullable: true
          description: TTM dividends paid / TTM net income. Null when TTM net income <= 0.
        retention_ratio:
          type: number
          nullable: true
          description: 1 - payout_ratio (the reinvestment-rate proxy). Cash basis.
        buyback_ratio:
          type: number
          nullable: true
          description: TTM share repurchases / TTM net income.
        total_payout_ratio:
          type: number
          nullable: true
          description: (TTM dividends paid + share repurchases) / TTM net income. May exceed 1.
        sustainable_growth:
          type: number
          nullable: true
          description: retention_ratio * roe_ttm.
        equity_bridge_residual:
          type: number
          nullable: true
          description: >
            Plug that closes the equity roll-forward by construction
            (total_equity_t - total_equity_{t-1} = sum of tagged components +
            residual). Frequently large; a decomposition aid, not a measured line.
            Null on a symbol's first reported period.
        equity_bridge_inputs:
          type: array
          items:
            type: string
          description: >
            Components that backed the residual. A component MISSING from the list
            means its movement is inside the residual, not that it was zero.
        beta_market:
          type: number
          nullable: true
          description: ERM3 cascade market beta sampled at the last trade date <= period_end (conditional, short half-life).
        beta_sector:
          type: number
          nullable: true
        beta_subsector:
          type: number
          nullable: true
        beta_source:
          type: string
          enum: [none, in-universe, out-of-universe, post-delisting]
          nullable: true
          description: Beta provenance. Post-delisting betas are never forward-filled.
        rf_rate:
          type: number
          nullable: true
          description: 3-month T-bill rate (fraction) at the last observation <= period_end.
        cost_of_equity:
          type: number
          nullable: true
          description: rf_rate + beta_market * erp. Can fall below rf_rate for defensive names (conditional beta).
        cost_of_debt:
          type: number
          nullable: true
          description: TTM interest expense / total debt. Null if debt <= 0.
        wacc:
          type: number
          nullable: true
          description: BOOK-value-weighted average cost of capital with tax-shielded debt leg.
        economic_profit:
          type: number
          nullable: true
          description: (roe_ttm - cost_of_equity) * total equity (equity-charge form). Null if equity <= 0.
        market_cap:
          type: number
          nullable: true
          description: Reserved. Currently null per row; see the top-level market_cap snapshot.

    FundamentalsResponse:
      type: object
      description: >
        Wire response for `GET /fundamentals/{ticker}`. Rows are ordered oldest
        to newest and PIT-filtered by filed_date <= as_of. `disclosures` echoes
        the parameters and the interpretation caveats.
      required:
        - ticker
        - as_of
        - rows
        - disclosures
      properties:
        ticker:
          type: string
          example: AAPL
        as_of:
          type: string
          format: date
        periods_returned:
          type: integer
        rows:
          type: array
          items:
            $ref: "#/components/schemas/FundamentalsRow"
        market_cap:
          type: object
          description: Current market cap snapshot (not PIT per quarter).
          properties:
            value:
              type: number
              nullable: true
            basis:
              type: string
              example: current_snapshot
            note:
              type: string
        sensitivity_grid:
          $ref: "#/components/schemas/FundamentalsSensitivityGrid"
          nullable: true
          description: >
            Present only when the request set `grid=true`. Null (with a
            `note`) when no PIT-visible period exists at `as_of`.
        disclosures:
          type: object
          additionalProperties: true
          description: >
            Realized-historical-only statement, ~2009 coverage note,
            conditional-beta cost-of-equity caveat, book-weight WACC note, TTM
            convention, and the erp/tax_rate parameter echo.
        _metadata:
          type: object
          additionalProperties: true

    FundamentalsSensitivityGrid:
      type: object
      description: >
        Cost-of-capital sensitivity grid for the latest PIT-visible period
        only — `cost_of_equity` / `wacc` / `economic_profit` recomputed
        across every combination of `erp_values` x `rf_tenor_values`. Pure
        derived analytics (same fields as `FundamentalsRow`'s cost-of-capital
        layer), just parameterized instead of single-valued. `cells` is
        row-major: `cells[i][j]` pairs `erp_values[i]` with `rf_tenor_values[j]`.
      required:
        - period_end_date
        - erp_values
        - rf_tenor_values
        - tax_rate
        - cells
      properties:
        period_end_date:
          type: string
          format: date
        filed_date:
          type: string
          format: date
          nullable: true
        erp_values:
          type: array
          items: { type: number }
        rf_tenor_values:
          type: array
          items:
            type: string
            enum: [3m, 1y, 2y, 5y, 10y, 30y]
        tax_rate:
          type: number
        cells:
          type: array
          description: Row-major [erp_values.length][rf_tenor_values.length].
          items:
            type: array
            items:
              type: object
              properties:
                cost_of_equity: { type: number, nullable: true }
                wacc: { type: number, nullable: true }
                economic_profit: { type: number, nullable: true }

    MetricsSnapshotResponse:
      type: object
      description: >
        Wire response for `GET /metrics/{ticker}`. Numeric fields live under `metrics`;
        `teo` is the observation date (V3 time-end).
      required:
        - symbol
        - ticker
        - teo
        - periodicity
        - metrics
        - display
        - meta
      properties:
        symbol:
          type: string
          description: Canonical symbol key in V3 registry.
        ticker:
          type: string
          example: NVDA
        teo:
          type: string
          format: date
          description: Latest observation date for the metrics row.
        periodicity:
          type: string
          example: daily
        metrics:
          $ref: "#/components/schemas/MetricsV3"
        display:
          type: object
          additionalProperties:
            type: string
          description: Optional display labels for metric keys (e.g. UI column titles).
        meta:
          type: object
          properties:
            sector_etf:
              type: string
              nullable: true
            asset_type:
              type: string
              nullable: true
        hedge_levels:
          $ref: "#/components/schemas/HedgeLevelsBlock"
          nullable: true
          description: Canonical L1/L2/L3 hedge snapshots for cross-level comparison.

    TickerReturnsDailyRow:
      type: object
      description: >
        One trading day in `GET /ticker-returns` `data` array. Stock rows populate the full
        V3 security_history field set below. **ETF rows are a strict subset — only `date`,
        `returns_gross`, and `price_close` are emitted** (the L1/L2/L3 hedge/ER properties
        are omitted entirely from ETF rows rather than returned as `null`, since ETFs are
        not factor-decomposed). Branch on the response's top-level `asset_type` before
        reading L* fields.
      properties:
        date:
          type: string
          format: date
        returns_gross:
          type: number
          format: float
          nullable: true
          description: Daily gross return of the stock. Null when rolling-window metrics are unavailable (trailing data).
        price_close:
          type: number
          format: float
          nullable: true
          description: End-of-day price when available from history.
        l3_mkt_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 market hedge ratio (SPY notional per $1 stock). Null in trailing rows
            where the rolling regression window has insufficient data. May be negative
            (orthogonalization); negative market HR at L2/L3 is common.
        l3_sec_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 sector ETF hedge ratio (dollar_ratio). Null when the rolling window has
            insufficient data. May be negative due to orthogonalization (factor neutralization);
            not a sign error in the data.
        l3_sub_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 subsector ETF hedge ratio (dollar_ratio). Null when the rolling window has
            insufficient data. May be negative (orthogonalization or long subsector ETF leg); not a
            sign error in the data.
        l3_mkt_er:
          type: number
          format: float
          nullable: true
          description: >
            Market variance share at L3 (explained risk, 0–1). Null in trailing rows where the
            rolling window has insufficient data.
        l3_sec_er:
          type: number
          format: float
          nullable: true
          description: >
            Sector variance share at L3 (explained risk, 0–1). Null when the rolling window has
            insufficient data.
        l3_sub_er:
          type: number
          format: float
          nullable: true
          description: >
            Subsector variance share at L3 (explained risk, 0–1). Null when the rolling window has
            insufficient data.
        l3_res_er:
          type: number
          format: float
          nullable: true
          description: >
            Idiosyncratic (residual) variance share at L3 (0–1); SDK semantic name `l3_residual_er`.
            Null when the rolling window has insufficient data.

    GrossReturnDailyRow:
      type: object
      description: >
        One trading day in Parquet/CSV for `GET /returns` and `GET /etf-returns`: long table
        with the same fields as zipping JSON parallel arrays `dates` and `returns_gross` by index.
      properties:
        date:
          type: string
          format: date
        returns_gross:
          type: number
          format: float
          nullable: true
          description: Daily gross return (same series as JSON `returns_gross` array).

    BatchAnalyzeExportRow:
      type: object
      description: >
        One row in Parquet/CSV from `POST /batch/analyze` when `format` is `parquet` or `csv`.
        Emitted only for tickers that succeeded with `returns` data; tickers with errors are omitted.
      properties:
        ticker:
          type: string
        date:
          type: string
          format: date
        gross_return:
          type: number
          format: float
          nullable: true
          description: Daily gross return (JSON `returns.values` at the same index as `date`).
        l1:
          type: number
          format: float
          nullable: true
          description: Rolling L3 market HR history (`returns.l1` in JSON).
        l2:
          type: number
          format: float
          nullable: true
          description: Rolling L3 sector HR history (`returns.l2` in JSON).
        l3:
          type: number
          format: float
          nullable: true
          description: Rolling L3 subsector HR history (`returns.l3` in JSON).

    TickerReturnsResponseV3:
      type: object
      required:
        - symbol
        - ticker
        - periodicity
        - data
        - meta
      properties:
        symbol:
          type: string
        ticker:
          type: string
        asset_type:
          type: string
          enum: [stock, etf]
          description: >
            Returned for every response. ETF responses populate `date`,
            `returns_gross`, and `price_close` only; all L1/L2/L3 columns are
            `null` because ETFs are not factor-decomposed.
        periodicity:
          type: string
          example: daily
        data:
          type: array
          items:
            $ref: "#/components/schemas/TickerReturnsDailyRow"
        meta:
          $ref: "#/components/schemas/TickerReturnsMeta"

    TickerReturnsMeta:
      type: object
      properties:
        market_etf:
          type: string
          example: SPY
        sector_etf:
          type: string
          nullable: true
          description: Null for ETF tickers (e.g. `SPY` itself).
          example: SOXX
        subsector_etf:
          type: string
          nullable: true
          example: XSD
        universe:
          type: string
          description: "`US_EQUITY` for stocks, `US_ETF` for ETFs."
          example: US_EQUITY

    BatchHedgeRatios:
      type: object
      description: >
        Present when `metrics` includes `hedge_ratios`. Dollar HRs per $1 stock (same economics as
        `full_metrics` `*_hr` fields). Property names are **short** (`l1_market`, …); ERM3 zarr
        hedge-weight naming `L1_market_HR` … `L3_subsector_HR` maps row-wise to these keys — see
        docs/ERM3_ZARR_API_PARITY.md.
      properties:
        l1_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L1_market_HR`; same as `full_metrics.l1_market_hr`.
        l2_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L2_market_HR`; same as `full_metrics.l2_market_hr`.
        l2_sector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L2_sector_HR`; same as `full_metrics.l2_sector_hr`.
        l3_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_market_HR`; same as `full_metrics.l3_market_hr`.
        l3_sector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_sector_HR`; same as `full_metrics.l3_sector_hr`.
        l3_subsector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_subsector_HR`; same as `full_metrics.l3_subsector_hr`.

    BatchReturnsPayload:
      type: object
      description: >
        Present when `metrics` includes `returns`. Arrays are parallel by index.
        Fields `l1`, `l2`, `l3` hold daily rolling hedge ratios from V3 (`l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr` history), not combined L1/L2/L3 model levels.
      properties:
        dates:
          type: array
          items:
            type: string
            format: date
        values:
          type: array
          items:
            type: number
          description: Daily gross returns (`returns_gross`).
        l1:
          type: array
          items:
            type: number
            nullable: true
        l2:
          type: array
          items:
            type: number
            nullable: true
        l3:
          type: array
          items:
            type: number
            nullable: true

    BatchFullMetrics:
      type: object
      description: >
        Present when `metrics` includes `full_metrics`. Flat snapshot for batch consumers: L1/L2/L3
        explained-risk and hedge-ratio fields when available from the backend (see
        docs/ERM3_ZARR_API_PARITY.md for zarr `L*_ER` / `L*_HR` mapping). Zarr topic-level
        `wmean_*` features are computed **client-side** as holdings-weighted means of these fields.
        Nulls mean missing or not modelled for that ticker — not omitted keys.
        Hedge ratios may be negative at any level (orthogonalization); negative **market** HR
        at L2 or L3 is especially common.
      properties:
        ticker:
          type: string
        date:
          type: string
          format: date
          nullable: true
          description: Observation date (`teo`) for the snapshot; align with `X-Data-As-Of` / `_metadata.data_as_of`.
        volatility:
          type: number
          format: float
          nullable: true
        l1_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_market_HR`; mirrors `hedge_ratios.l1_market`.
        l2_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_market_HR`; mirrors `hedge_ratios.l2_market`.
        l2_sector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_sector_HR`; mirrors `hedge_ratios.l2_sector`.
        l3_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_market_HR`; mirrors `hedge_ratios.l3_market`.
        l3_sector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_sector_HR`; mirrors `hedge_ratios.l3_sector`.
        l3_subsector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_subsector_HR`; mirrors `hedge_ratios.l3_subsector`.
        l1_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_market_ER`.
        l1_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_residual_ER`.
        l2_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_market_ER`.
        l2_sector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_sector_ER`.
        l2_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_residual_ER`.
        l3_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_market_ER`.
        l3_sector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_sector_ER`.
        l3_subsector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_subsector_ER`.
        l3_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_residual_ER`.
        market_cap:
          type: number
          format: float
          nullable: true
        close_price:
          type: number
          format: float
          nullable: true

    BatchAnalyzeTickerResult:
      type: object
      description: One entry in `POST /batch/analyze` `results` map (keyed by upper-case ticker).
      required:
        - ticker
        - status
      properties:
        ticker:
          type: string
        status:
          type: string
          enum: [success, error]
        error:
          type: string
          description: Present when status is `error`.
        returns:
          $ref: "#/components/schemas/BatchReturnsPayload"
        hedge_ratios:
          $ref: "#/components/schemas/BatchHedgeRatios"
        full_metrics:
          $ref: "#/components/schemas/BatchFullMetrics"
        meta:
          type: object
          nullable: true
          properties:
            market_etf:
              type: string
              example: SPY
            sector_etf:
              type: string
              nullable: true
            subsector_etf:
              type: string
              nullable: true
        hedge_levels:
          $ref: "#/components/schemas/HedgeLevelsBlock"
          nullable: true
          description: Present when status is success — canonical L1/L2/L3 block for this ticker row.

    BatchAnalyzeResponse:
      type: object
      required:
        - results
        - summary
        - _agent
      properties:
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/BatchAnalyzeTickerResult"
        summary:
          type: object
          properties:
            total:
              type: integer
            success:
              type: integer
            errors:
              type: integer
        _agent:
          $ref: "#/components/schemas/AgentMeta"
        _metadata:
          $ref: "#/components/schemas/RiskMetadata"
          description: >
            Lineage for PIT tests: model version, as-of date, factor set, universe size. Also emitted
            as `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size` headers
            when the gateway attaches them.

    L3DecompositionResponse:
      type: object
      description: >
        Columnar L3 decomposition from V3 `security_history` (daily points; arrays are parallel by index).
        Field names use readable suffixes (`l3_market_er`, …). No `_agent` block in the current response body.
      required:
        - ticker
        - dates
        - l3_market_hr
        - l3_sector_hr
        - l3_subsector_hr
        - l3_market_er
        - l3_sector_er
        - l3_subsector_er
        - l3_residual_er
        - market_factor_etf
        - universe
        - data_source
      properties:
        ticker:
          type: string
        dates:
          type: array
          items:
            type: string
            format: date
        l3_market_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_sector_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_subsector_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_market_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_sector_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_subsector_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_residual_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string
          example: security_history

    ReturnsDecompositionResponse:
      type: object
      description: >
        Daily gross return and L1/L2/L3 factor, combined-factor, and residual
        return series from ds_erm3_returns (zarr SSOT). Optional Lstar dispatch
        adds per-date recommended hedge level and Lstar residual return.
      properties:
        ticker:
          type: string
        dates:
          type: array
          items:
            type: string
            format: date
        gross_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l1_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l2_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l1_combined_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l2_combined_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_combined_factor_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l1_residual_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l2_residual_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_residual_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        lstar:
          type: array
          items:
            type: string
            enum: [L1, L2, L3]
            nullable: true
          description: Present when include_lstar=true or dispatch=lstar.
        lstar_residual_return:
          type: array
          items:
            type: number
            format: float
            nullable: true
        threshold_used:
          type: number
          format: float
          description: Marginal ER threshold used for Lstar dispatch (default 0.01).
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string
          example: zarr

    IndustryPanelRow:
      type: object
      required: [industry_code, level]
      properties:
        industry_code:
          type: integer
          description: EODHD 4-digit industry code (FactSet fs_industry_code).
        level:
          type: string
          enum: [market, sector, subsector]
        beta_mean:
          type: number
          format: float
          nullable: true
          description: Log-mcap-weighted typical factor β for the industry at this cascade level.
        beta_variance:
          type: number
          format: float
          nullable: true
          description: Cross-sectional dispersion of peer βs (τ²).
        n_companies:
          type: integer
          nullable: true
          description: Peer count in the industry cohort.
        total_log_mcap_weight:
          type: number
          format: float
          nullable: true
          description: Sum of log(mcap+1) across peers.

    IndustryPanelResponse:
      type: object
      description: >
        Cross-section of Vasicek industry peer β statistics from ds_erm3_industry
        at one observation date (default latest teo).
      properties:
        teo:
          type: string
          format: date
        industries:
          type: array
          items:
            $ref: "#/components/schemas/IndustryPanelRow"
        level:
          type: string
          enum: [market, sector, subsector]
          description: Present when the request filtered to a single cascade level.
        min_peers:
          type: integer
          description: Minimum n_companies filter applied (from request or zarr min_peers attr).
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string
          example: zarr

    ResidualSignalReading:
      type: object
      description: >
        One residual mean-reversion reading. In /residual-signal/{ticker} this
        is both the latest `signal` object and each `history` item; history
        items additionally carry `date`.
      properties:
        date:
          type: string
          format: date
          description: Trading day (present on history items; omitted on the latest `signal`).
        residual_z_5d:
          type: number
          nullable: true
          description: 5-day cumulative L3 residual return, z-scored by 60-day residual vol. Negative = oversold.
        signal_strength:
          type: number
          nullable: true
          description: Absolute value of residual_z_5d.
        decile_rank:
          type: integer
          nullable: true
          description: 1-10 cross-sectional decile of residual_z_5d (1 = most oversold).
        industry_percentile:
          type: number
          nullable: true
          description: 0-1 percentile of residual_z_5d within the stock's EODHD industry cohort.
        residual_autocorr_5d:
          type: number
          nullable: true
          description: Trailing-252d lag-5 autocorrelation of the 5-day cumulative residual. Negative = mean-reverting.
        l3_subsector_er:
          type: number
          nullable: true
          description: Subsector variance-explained fraction — the signal-quality conditioning variable.
        signal_quality_quintile:
          type: integer
          nullable: true
          description: 1-5 quintile of l3_subsector_er (5 = tight subsector tracker = cleanest reversion regime).
    ResidualSignalRow:
      description: A universe cross-section row — a ResidualSignalReading keyed by ticker.
      allOf:
        - $ref: "#/components/schemas/ResidualSignalReading"
        - type: object
          required: [ticker]
          properties:
            ticker:
              type: string
              description: Stock ticker.
    LstarResponse:
      type: object
      description: >
        Per-(ticker, date) recommended hedge level (L1/L2/L3) with the chosen level's dispatched hedge
        ratios and total explained-return. Arrays are parallel by date index. Each L\* is a standalone
        hedge solution (not stacked layers) — `market_hr`/`sector_hr`/`subsector_hr` come from the
        chosen level's solver and are `null` where the chosen level doesn't use that ETF
        (sector_hr is null when L\*=L1; subsector_hr is null when L\*∈{L1,L2}). `axis` is always
        `industry` — the style axis was removed in v4 (style is a diagnostic block; see
        `POST /v4/decompose`).
      required:
        - ticker
        - axis
        - dates
        - lstar
        - market_hr
        - sector_hr
        - subsector_hr
        - total_er
        - residual_return
        - l2_sector_er
        - l3_subsector_er
        - threshold_used
        - market_factor_etf
        - universe
        - data_source
      properties:
        ticker:
          type: string
        axis:
          type: string
          enum: [industry]
          default: industry
          description: >
            Cascade axis — always `industry`. `style` was removed in v4 (style is served as a
            diagnostic block by `POST /v4/decompose`).
        dates:
          type: array
          items:
            type: string
            format: date
        lstar:
          type: array
          description: Recommended level per date. `null` where source ERs are unavailable.
          items:
            type: string
            enum: [L1, L2, L3]
            nullable: true
        market_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        sector_hr:
          type: array
          description: Hedge ratio for the sector ETF. `null` when `lstar` = `L1`.
          items:
            type: number
            format: float
            nullable: true
        subsector_hr:
          type: array
          description: Hedge ratio for the subsector ETF. `null` when `lstar` ∈ {`L1`, `L2`}.
          items:
            type: number
            format: float
            nullable: true
        total_er:
          type: array
          description: >
            Sum of explained-return components at the chosen level (market + sector + subsector,
            omitting residual).
          items:
            type: number
            format: float
            nullable: true
        residual_return:
          type: array
          description: >
            Daily simple residual return at the chosen Lstar level (`l1_rr`, `l2_rr`, or `l3_rr`
            from returns decomposition). Parallel to `dates`; `null` when Lstar or source return
            is unavailable. Not a hedge ratio and not explained-risk variance (`l*_res_er`).
          items:
            type: number
            format: float
            nullable: true
        l2_sector_er:
          type: array
          description: >
            Marginal L2 (sector) ER input. Exposed for audit / threshold override.
          items:
            type: number
            format: float
            nullable: true
        l3_subsector_er:
          type: array
          description: >
            Marginal L3 (subsector) ER input. Exposed for audit / threshold override.
          items:
            type: number
            format: float
            nullable: true
        threshold_used:
          type: number
          format: float
          example: 0.01
          description: The marginal-ER threshold used to assign each date's level.
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string
          example: zarr

    BatchLstarTickerResult:
      type: object
      description: One entry in `POST /batch/lstar` `results` map (keyed by upper-case ticker).
      required:
        - ticker
        - status
      properties:
        ticker:
          type: string
        status:
          type: string
          enum: [success, error, not_found]
        error:
          type: string
          description: Present when status is `error`.
        dates:
          type: array
          items:
            type: string
            format: date
        lstar:
          type: array
          items:
            type: string
            enum: [L1, L2, L3]
            nullable: true
        market_hr:
          type: array
          items:
            type: number
            nullable: true
        sector_hr:
          type: array
          items:
            type: number
            nullable: true
        subsector_hr:
          type: array
          items:
            type: number
            nullable: true
        total_er:
          type: array
          items:
            type: number
            nullable: true
        residual_return:
          type: array
          items:
            type: number
            nullable: true
        l2_sector_er:
          type: array
          items:
            type: number
            nullable: true
        l3_subsector_er:
          type: array
          items:
            type: number
            nullable: true
        threshold_used:
          type: number
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string

    BatchLstarResponse:
      type: object
      required:
        - results
        - summary
        - years
        - threshold_used
        - market_factor_etf
        - axis
        - _agent
      properties:
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/BatchLstarTickerResult"
        summary:
          type: object
          required: [total, success, errors, not_found]
          properties:
            total:
              type: integer
            success:
              type: integer
            errors:
              type: integer
            not_found:
              type: integer
        years:
          type: integer
        threshold_used:
          type: number
        market_factor_etf:
          type: string
        axis:
          type: string
          enum: [industry]
          description: Always `industry` — the style axis was removed in v4.
        _agent:
          type: object
          properties:
            cost_usd:
              type: number
            request_id:
              type: string
        _metadata:
          $ref: "#/components/schemas/RiskMetadata"

    FactorCorrelationRequest:
      type: object
      required:
        - ticker
      properties:
        ticker:
          oneOf:
            - type: string
              example: NVDA
            - type: array
              items:
                type: string
              maxItems: 50
        factors:
          type: array
          items:
            type: string
          description: >
            Factor keys matching `macro_factors.factor_key`. Two sleeves share the table
            and endpoint; the `metadata.category` field on each row distinguishes them.

            **Macro sleeve (10 keys, from `ds_macro_factor.zarr`):**
            `inflation` (TIP), `term_spread` (VGIT), `short_rates` (BIL), `credit` (HYG),
            `oil` (USO), `gold` (GLD), `usd` (UUP), `volatility` (VXX short-term vol futures),
            `bitcoin` (BITO), `vix_spot` (FRED VIXCLS spot index). Note: `volatility` and
            `vix_spot` are DIFFERENT — VXX captures futures roll dynamics, VIXCLS is pure spot.

            **Style sleeve (8 keys, mirrored from `ds_etf.zarr`):**
            `momentum` (MTUM), `quality` (QUAL), `low_vol` (USMV), `value` (VLUE),
            `growth` (IWF), `size` (IWM), `dividend` (SCHD), `moat` (MOAT). History starts
            at each ETF's launch date (2011–2013 for MSCI factors; 2000 for IWF/IWM);
            pre-launch windows return `null` correlations. Style factors are most
            informative against `return_type=l3_residual`: because the residual is already
            orthogonal to SPY/sector/subsector, correlation isolates the pure style tilt.

            Legacy v1 aliases (`dxy`→`usd`, `vix`→`vix_spot`, `ust10y2y`→`term_spread`),
            common synonyms (btc, wti, xau, gld, cpi, tips), and style aliases (mtum, qual,
            usmv, vlue, iwf, iwm, schd, moat, minvol, small_cap) are normalized server-side.
            Defaults to all 18 canonical keys when omitted.
        return_type:
          type: string
          enum: [gross, l1, l2, l3_residual]
          default: l3_residual
        window_days:
          type: integer
          minimum: 20
          maximum: 2000
          default: 252
        method:
          type: string
          enum: [pearson, spearman]
          default: pearson

    FactorCorrelationSingleResponse:
      allOf:
        - $ref: "#/components/schemas/FactorCorrelationResultBody"
        - type: object
          properties:
            _metadata:
              $ref: "#/components/schemas/RiskMetadata"
            _agent:
              type: object
              properties:
                latency_ms:
                  type: integer
                request_id:
                  type: string

    FactorCorrelationResponse:
      oneOf:
        - allOf:
            - $ref: "#/components/schemas/FactorCorrelationResultBody"
            - type: object
              properties:
                _metadata:
                  $ref: "#/components/schemas/RiskMetadata"
                _agent:
                  type: object
                  properties:
                    latency_ms:
                      type: integer
                    request_id:
                      type: string
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                oneOf:
                  - $ref: "#/components/schemas/FactorCorrelationResultBody"
                  - type: object
                    required:
                      - ticker
                      - error
                      - status
                    properties:
                      ticker:
                        type: string
                      error:
                        type: string
                      status:
                        type: integer
            _metadata:
              $ref: "#/components/schemas/RiskMetadata"
            _agent:
              type: object
              properties:
                latency_ms:
                  type: integer
                request_id:
                  type: string

    FactorCorrelationResultBody:
      type: object
      required:
        - ticker
        - return_type
        - window_days
        - method
        - correlations
        - overlap_days
        - warnings
      properties:
        ticker:
          type: string
        return_type:
          type: string
          enum: [gross, l1, l2, l3_residual]
        window_days:
          type: integer
        method:
          type: string
          enum: [pearson, spearman]
        correlations:
          type: object
          additionalProperties:
            type: number
            nullable: true
        overlap_days:
          type: integer
          description: Largest number of paired observations used among requested factors.
        warnings:
          type: array
          items:
            type: string

    MacroFactorsSeriesRow:
      type: object
      required:
        - factor_key
        - teo
      properties:
        factor_key:
          type: string
          example: bitcoin
        teo:
          type: string
          format: date
        return_gross:
          type: number
          format: float
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          description: Present only when non-empty in `macro_factors.metadata`.

    MacroFactorsSeriesResponse:
      type: object
      required:
        - factors_requested
        - start
        - end
        - row_count
        - series
        - warnings
      properties:
        factors_requested:
          type: array
          items:
            type: string
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        row_count:
          type: integer
        series:
          type: array
          items:
            $ref: "#/components/schemas/MacroFactorsSeriesRow"
        warnings:
          type: array
          items:
            type: string
        _metadata:
          $ref: "#/components/schemas/RiskMetadata"
        _agent:
          type: object
          properties:
            latency_ms:
              type: integer
            request_id:
              type: string

    SurfacePortfolioSeries:
      type: object
      description: >
        L1/L2/L3 return-decomposition time series for an ETF / benchmark
        PortfolioSurface (same shape funds expose). The first key is the surface
        id (`ticker` for ETFs, `benchmark_context_id` for benchmarks).
      properties:
        portfolio_id: { type: string }
        ticker: { type: string }
        benchmark_context_id: { type: string }
        source_kind: { type: string, enum: [fund, etf, benchmark, filer_13f] }
        weight_basis:
          type: string
          nullable: true
          enum: [latest_holdings_constant, time_varying]
          description: How the per-teo weights were derived. v1 = latest_holdings_constant.
        teo_frequency: { type: string, example: monthly }
        variance_shares:
          type: object
          nullable: true
          description: Diversification-credited full-window variance shares (≈ sum to 1).
          properties:
            market: { type: number, nullable: true }
            sector: { type: number, nullable: true }
            subsector: { type: number, nullable: true }
            residual: { type: number, nullable: true }
        n_rows: { type: integer }
        rows:
          type: array
          items:
            type: object
            properties:
              teo: { type: string, format: date }
              portfolio_gross_return: { type: number, nullable: true }
              portfolio_market_return: { type: number, nullable: true }
              portfolio_sector_return: { type: number, nullable: true }
              portfolio_subsector_return: { type: number, nullable: true }
              portfolio_idiosyncratic_return: { type: number, nullable: true }
              identity_residual: { type: number, nullable: true }
              weight_sum: { type: number, nullable: true }
              n_holdings_active: { type: integer, nullable: true }
              effective_n: { type: number, nullable: true }
              top10_weight_sum: { type: number, nullable: true }
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: TICKER_NOT_FOUND
        message:
          type: string
          description: Human-readable error description with suggested action.
          example: "Ticker 'XYZABC' not found in universe 'uni_mc_3000'. Check ticker spelling or try a different universe."
        code:
          type: integer
          description: HTTP status code.
          example: 404
        details:
          type: object
          properties:
            field:
              type: string
              example: ticker
            received:
              type: string
              example: XYZABC
            universe:
              type: string
              example: uni_mc_3000
            suggestion:
              type: string
              example: "Check for typos or use ticker search endpoint"

    OAuth2TokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum: [client_credentials]
          description: Must be "client_credentials"
        client_id:
          type: string
          pattern: "^rm_(user|agent)_[a-z0-9_]{32,}$"
          example: rm_agent_live_abc123
          description: API key prefix (first segment)
        client_secret:
          type: string
          format: password
          example: rm_agent_live_abc123_xyz789_checksum
          description: Full API key
        scope:
          type: string
          example: "ticker-returns risk-decomposition"
          description: Space-separated list of requested scopes

    OAuth2TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          format: jwt
          description: JWT access token (use as Bearer token)
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          example: 900
          description: Token lifetime in seconds (900 = 15 minutes)
        scope:
          type: string
          description: Space-separated list of granted scopes

    OAuth2Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - invalid_grant
            - unsupported_grant_type
            - server_error
        error_description:
          type: string

    PlaidHolding:
      type: object
      properties:
        account_id:
          type: string
        security_id:
          type: string
        institution_value:
          type: number
          description: Current value in USD
        quantity:
          type: number
        ticker:
          type: string
          description: Normalized ticker symbol
        name:
          type: string
          description: Security name
        risk_metrics:
          $ref: "#/components/schemas/RiskMetrics"

    RiskMetrics:
      type: object
      description: Optional risk enrichment on Plaid holdings; names may match batch `full_metrics` or V3 `metrics` keys depending on pipeline version.
      properties:
        annualized_volatility:
          type: number
          nullable: true
        volatility:
          type: number
          nullable: true
        sharpe_ratio:
          type: number
          nullable: true
        l3_mkt_hr:
          type: number
          nullable: true
        l3_sec_hr:
          type: number
          nullable: true
        l3_sub_hr:
          type: number
          nullable: true
        l3_res_er:
          type: number
          nullable: true
        l3_market_hr:
          type: number
          nullable: true
        l3_sector_hr:
          type: number
          nullable: true
        l3_subsector_hr:
          type: number
          nullable: true
        l3_residual_er:
          type: number
          nullable: true

    MCPTool:
      type: object
      description: >
        MCP tool descriptor as returned by `tools/list`. Tools are discoverable via
        `https://riskmodels.app/.well-known/mcp.json` or by connecting to the SSE
        endpoint at `https://riskmodels.app/api/mcp/sse` and calling `tools/list`.
      properties:
        name:
          type: string
          enum:
            - riskmodels_list_endpoints
            - riskmodels_get_capability
            - riskmodels_get_schema
            - riskmodels_decompose
            - riskmodels_compare
            - riskmodels_get_hedge_levels
            - riskmodels_analyze_portfolio
            - riskmodels_hedge_portfolio
            - get_l3_decomposition
            - get_metrics
            - get_portfolio_risk_snapshot
            - post_snapshot
          description: |
            Representative MCP tool names for this deployment (hosted Streamable HTTP and stdio share the RiskModels subset;
            hosted adds live REST-backed tools).

            Stdio/SDK-oriented tools (`registerRiskModelsTools`):
            - `riskmodels_decompose` — POST /decompose: L3 four-layer `exposure` + `hedge` map. For comparing L1/L2/L3
              standalone solutions, prefer `riskmodels_get_hedge_levels` or read `hedge_levels` when present on decompose metrics.
            - `riskmodels_get_hedge_levels` — GET /metrics/{ticker} narrowed to the canonical `hedge_levels` block.
            - `riskmodels_compare` / `riskmodels_analyze_portfolio` — POST /batch/analyze for multiple tickers; portfolio path
              renormalizes weights and surfaces aggregated `portfolio_hedge_levels` in the MCP wrapper output.
            - `riskmodels_hedge_portfolio` — Uses batch `/batch/analyze` per-ticker `hedge_levels` at the chosen cascade level and
              scales to `notional_usd` positions (sums hedge notionals across ETFs).
            - `riskmodels_list_endpoints` / `riskmodels_get_capability` / `riskmodels_get_schema` — discovery.

            Hosted-only tools (`mcp/src/server.ts`):
            - `get_l3_decomposition`, `get_metrics`, `get_portfolio_risk_snapshot`, `post_snapshot` — proxied REST with billing headers surfaced in the MCP JSON envelope.
        description:
          type: string
        inputSchema:
          type: object
          description: JSON Schema describing the tool's input parameters.
        outputSchema:
          type: object
          description: JSON Schema describing the tool's output structure.

    RankingMetricKeys:
      type: object
      description: >
        V3 security_history ranking metric keys (when rankings are exposed via API).
        Pattern: rank_ord_{window}_{cohort}_{metric}, cohort_size_{window}_{cohort}_{metric}.
        Windows: 1d, 21d, 63d, 252d. Cohorts: universe, sector, subsector.
        Metrics: mkt_cap, gross_return, sector_residual, subsector_residual, er_l1, er_l2, er_l3.
        rank_percentile computed client-side: (1 - (rank_ord - 1) / cohort_size) * 100.

    InsufficientBalance:
      type: object
      description: Returned when the account prepaid balance is exhausted (HTTP 402).
      properties:
        error:
          type: string
          enum: [INSUFFICIENT_BALANCE]
          example: INSUFFICIENT_BALANCE
        message:
          type: string
          example: "Insufficient balance. Current balance: $0.00. Top up at https://riskmodels.app/billing"
        balance_usd:
          type: number
          format: float
          example: 0.0
        top_up_url:
          type: string
          format: uri
          example: https://riskmodels.app/billing

    RateLimitExceeded:
      type: object
      description: Returned when the per-minute rate limit is exceeded (HTTP 429).
      properties:
        error:
          type: string
          enum: [RATE_LIMIT_EXCEEDED]
          example: RATE_LIMIT_EXCEEDED
        message:
          type: string
          example: "Rate limit exceeded. Retry after 2026-03-08T12:34:56Z"
        retry_after:
          type: string
          format: date-time
          description: ISO timestamp after which the client may retry.
          example: "2026-03-08T12:34:56Z"
        limit:
          type: integer
          description: Requests allowed per minute for this key.
          example: 60

    Fund:
      type: object
      description: >
        Mutual fund registry row from `public.funds`. One row per `bw_fund_id`.
        Latest temporal triple (`latest_report_date` / `latest_filing_date` /
        `latest_extracted_at`) reflects the most recent N-PORT snapshot known
        for this fund. Q5 lock: `primary_bw_fund_id` is reserved as a nullable
        column; NULL means this row IS the primary share class (or no primary
        chosen yet). See ARCHITECTURE_FUNDS_API.md §4.1.
      properties:
        bw_fund_id:
          type: string
          description: Funds_DAG canonical fund id. Format `BW-FUND-{series_id}`.
          example: BW-FUND-S000004310
        series_id:
          type: string
          nullable: true
          description: SEC series id.
          example: S000004310
        ticker:
          type: string
          nullable: true
          example: VFINX
        cik:
          type: string
          nullable: true
        fund_name:
          type: string
          nullable: true
          example: Vanguard 500 Index Fund Investor Shares
        morningstar_category:
          type: string
          nullable: true
        equity_style_9box:
          type: string
          nullable: true
          enum:
            - Large Value
            - Large Blend
            - Large Growth
            - Mid Value
            - Mid Blend
            - Mid Growth
            - Small Value
            - Small Blend
            - Small Growth
        style_link_method:
          type: string
          nullable: true
        primary_bw_fund_id:
          type: string
          nullable: true
        latest_report_date:
          type: string
          format: date
          nullable: true
          description: Period end of the most recent reported holdings (= "fund_date").
        latest_filing_date:
          type: string
          format: date
          nullable: true
          description: SEC acceptance date for the latest filing (= "release_date").
        latest_extracted_at:
          type: string
          format: date-time
          nullable: true
        latest_total_adj_mv:
          type: number
          format: float
          nullable: true
        latest_n_holdings:
          type: integer
          nullable: true
        latest_effective_n:
          type: number
          format: float
          nullable: true
        last_in_eligible_universe_at:
          type: string
          format: date
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    FundLatest:
      type: object
      description: >
        Wide-row latest knowledge-mode snapshot from `public.funds_latest`.
        One row per `bw_fund_id`. Returns and diagnostics flatten the per-fund
        `ds_portfolio.zarr` (Funds_DAG Slice 8). Multi-quarter history lives
        in GCS Zarr (Stage B+). See ARCHITECTURE_FUNDS_API.md §4.2.
      required: [bw_fund_id, report_date, filing_date, extracted_at, last_synced_at]
      properties:
        bw_fund_id: { type: string, example: BW-FUND-S000004310 }
        report_date: { type: string, format: date, example: "2026-04-30" }
        filing_date: { type: string, format: date, example: "2026-07-14" }
        extracted_at: { type: string, format: date-time }
        portfolio_gross_return: { type: number, format: float, nullable: true }
        portfolio_market_return: { type: number, format: float, nullable: true }
        portfolio_sector_return: { type: number, format: float, nullable: true }
        portfolio_subsector_return: { type: number, format: float, nullable: true }
        portfolio_idiosyncratic_return: { type: number, format: float, nullable: true }
        identity_residual: { type: number, format: float, nullable: true }
        weight_sum:
          type: number
          format: float
          nullable: true
          description: ERM3 universe coverage (fraction of fund AUM mapping to in-universe symbols).
        n_holdings_active: { type: integer, nullable: true }
        effective_n:
          type: number
          format: float
          nullable: true
          description: HHI-derived diversification (1 / sum(w_i^2)).
        top10_weight_sum: { type: number, format: float, nullable: true }
        total_adj_mv: { type: number, format: float, nullable: true }
        equity_style_9box: { type: string, nullable: true }
        n_funds_in_cell_at_report_date: { type: integer, nullable: true }
        model_version:
          type: string
          nullable: true
          example: funds_dag.v20260502
        factor_set_id:
          type: string
          nullable: true
          example: uni_mc_3000_SPY
        last_synced_at: { type: string, format: date-time }
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    FundWithLatest:
      type: object
      description: Fund registry row joined with the latest knowledge-mode snapshot.
      required: [fund]
      properties:
        fund:
          $ref: "#/components/schemas/Fund"
        latest:
          oneOf:
            - $ref: "#/components/schemas/FundLatest"
            - type: "null"
          nullable: true

    FundsBatchRequest:
      type: object
      required: [fund_ids]
      properties:
        fund_ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 1000
          example: ["BW-FUND-S000004310", "BW-FUND-S000123456"]

    FundsBatchResponse:
      type: object
      description: Multi-fund lookup. Keys are `bw_fund_id`s present in the registry.
      properties:
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/FundWithLatest"

    FundsSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Fund"

    FundsStyleMembersResponse:
      type: object
      required: [equity_style_9box, slug, fund_ids, count]
      properties:
        equity_style_9box:
          type: string
          example: Large Blend
        slug:
          type: string
          example: large-blend
        fund_ids:
          type: array
          items:
            type: string
        count:
          type: integer

    FundCohortRankEntry:
      type: object
      description: >
        One ranking row for a fund within its 9-box cell. The "n of n_group"
        view: this fund placed `rank` out of `cohort_size` peers on this
        `metric` over `period_window`.
      required: [metric, period_window, rank]
      properties:
        metric: { type: string, example: portfolio_gross_return }
        period_window: { type: string, enum: ["1m", "3m", "12m", "36m"] }
        rank: { type: integer, example: 5 }
        cohort_size: { type: integer, nullable: true, example: 540 }
        value: { type: number, format: float, nullable: true }

    FundSnapshotResponse:
      type: object
      description: >
        Composed JSON snapshot for a single mutual fund. Bundles registry +
        latest metrics + top-25 holdings + L1/L2/L3 hedge + 12-month
        portfolio time series + cohort context (rank-within-cell on every
        metric the rankings table covers).
      required: [bw_fund_id, report_date, filing_date, metrics, portfolio_history, _metadata]
      properties:
        bw_fund_id: { type: string }
        ticker: { type: string, nullable: true }
        fund_name: { type: string, nullable: true }
        equity_style_9box: { type: string, nullable: true }
        report_date: { type: string, format: date }
        filing_date: { type: string, format: date }
        metrics: { $ref: "#/components/schemas/FundMetricsResponse" }
        holdings:
          type: object
          nullable: true
          properties:
            n_total_holdings: { type: integer }
            n_returned: { type: integer }
            top:
              type: array
              items: { $ref: "#/components/schemas/FundHolding" }
        hedge:
          oneOf:
            - $ref: "#/components/schemas/FundHedgeResponse"
            - type: "null"
          nullable: true
        portfolio_history:
          type: object
          required: [lookback_months, n_periods, rows]
          properties:
            lookback_months: { type: integer, example: 12 }
            n_periods: { type: integer }
            rows:
              type: array
              items: { $ref: "#/components/schemas/FundPortfolioRow" }
        nav_history:
          type: object
          nullable: true
          description: >
            Trailing 12-month yfinance NAV history. `null` when the fund has
            no yfinance-resolvable ticker (~35% of the universe — institutional
            SMAs, separately-managed accounts, mutual funds without retail
            tickers). Pair with `portfolio_history` on the same teos to surface
            the gap between 13F-derived attribution and realised NAV (intra-quarter
            trading, fees, cash drag).
          required: [lookback_months, n_periods, rows]
          properties:
            lookback_months: { type: integer, example: 12 }
            n_periods: { type: integer }
            rows:
              type: array
              items: { $ref: "#/components/schemas/FundNavRow" }
        cohort_context:
          type: object
          nullable: true
          properties:
            equity_style_9box: { type: string, nullable: true }
            n_funds_in_cell: { type: integer, nullable: true }
            ranks:
              type: array
              items: { $ref: "#/components/schemas/FundCohortRankEntry" }
        _metadata:
          type: object
          properties:
            model_version: { type: string, nullable: true }
            factor_set_id: { type: string, nullable: true }
            data_as_of: { type: string, format: date }
            data_freshness: { type: string, format: date-time }

    CohortRankEntry:
      type: object
      description: One ranked entity inside a top_funds / top_symbols block.
      required: [rank, entity_id]
      properties:
        rank: { type: integer }
        entity_id: { type: string }
        value: { type: number, format: float, nullable: true }
        cohort_size: { type: integer, nullable: true }

    CohortRankBlock:
      type: object
      description: A ranked list scoped to one (metric, period_window, weighting) tuple.
      required: [metric, period_window, weighting, rows]
      properties:
        metric: { type: string }
        period_window: { type: string, enum: ["1m", "3m", "12m", "36m"] }
        weighting: { type: string, enum: [ew, mv] }
        rows:
          type: array
          items: { $ref: "#/components/schemas/CohortRankEntry" }

    CohortSnapshotResponse:
      type: object
      description: >
        Composed JSON snapshot for a 9-box style cell — the differentiated
        wedge surface. Bundles cohort metrics (EW + MV), top-25 cohort
        holdings, 12-month cohort portfolio history, top-10 funds in cell,
        and top-15 symbols in cell.
      required: [equity_style_9box, slug, report_date, metrics, portfolio_history, _metadata]
      properties:
        equity_style_9box: { type: string }
        slug: { type: string }
        report_date: { type: string, format: date }
        filing_date_max: { type: string, format: date, nullable: true }
        n_funds_in_cell: { type: integer, nullable: true }
        metrics:
          type: object
          properties:
            weightings:
              type: object
              properties:
                ew: { $ref: "#/components/schemas/StyleCohortReturnsBlock" }
                mv: { $ref: "#/components/schemas/StyleCohortReturnsBlock" }
        holdings:
          type: object
          nullable: true
          properties:
            weighting: { type: string, enum: [ew, mv] }
            n_total_holdings: { type: integer }
            n_returned: { type: integer }
            top:
              type: array
[...]
