openapi: 3.0.3
info:
  title: RiskModels API
  version: 3.0.0-agent
  description: >
    POST /decompose returns variance shares and ETF hedge ratios for any US equity,
    separating factor exposure from the residual bet so you can hedge what you don't want.
    Daily history to 2006 across ~3,000 US equities.

    Precision equity risk intelligence platform with AI agent integration.


    **New in v3.0.0-agent:**

    - OAuth2 client credentials flow for machine-to-machine auth

    - Plaid Investments integration for live portfolio sync

    - MCP (Model Context Protocol) server for AI agent tools

    - Compliance manifests for AI marketplace integration

    - Per-key rate limiting and scoped access control


    **Data**: Universe `uni_mc_3000` (top ~3,000 US stocks by market cap), date range
    2006-01-04 to present, updated daily end-of-day. Model outputs are computed by the ERM3
    regression system (Huber/Ridge), with Zarr v2 archives on Google Cloud Storage for research
    pipelines. The live API reads primarily from Supabase **V3** tables: long-form
    `security_history` (returns, volatility, L1/L2/L3 hedge ratios and explained-risk metrics),
    wide latest rows in `security_history_latest`, identity in `symbols`, plus supporting surfaces
    such as `trading_calendar`, `erm3_landing_chart_cache`, and `macro_factors`. Cross-sectional
    **rankings** (`GET /rankings/*`) are served from precomputed rank metric keys in
    `security_history`, not a separate `erm3_rankings` table. Hedge ratios (`*_hr`) are
    **dollar_ratio** ETF notionals per $1 stock and are distinct from regression **betas**
    (`l1_mkt_beta`, `l2_sec_beta`, `l3_sub_beta`), which are dimensionless coefficients from
    the hierarchical L1/L2/L3 regression. Both are exposed under `MetricsV3` and on
    `security_history_latest`. See `SEMANTIC_ALIASES.md` for the full HR-vs-beta convention.


    **Authentication Methods:**

    1. Session cookies (web app)

    2. API Key/Secret via Bearer token (external integrations)

    3. OAuth2 client credentials (AI agents, npm package)


    **Security Features:**

    - GCP KMS envelope encryption for portfolio data

    - Cryptographic shredding on key deletion

    - HMAC-SHA256 webhook verification

    - Row-level security (RLS) via Supabase


    **Pricing**: Per-request billing with prepaid balance. Cached responses are free.
    Many metered responses include `_agent.cost_usd` in the JSON body; others bill silently — always
    check the `X-API-Cost-USD` response header when present. Metered operations also expose
    `x-pricing` (OpenAPI extension) with `capability_id`, `tier` (`baseline` | `premium`), `model`,
    `cost_usd`, `billing_code`, and optional `min_charge` / per-token fields — aligned with
    `GET /pricing` and `lib/agent/capabilities.ts`.

    **Lineage**: JSON data responses include `_metadata` (model version, data_as_of, factor set)
    and headers `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size`.
    Parquet and CSV bodies omit `_metadata`; use the same `X-Risk-*` headers on the HTTP response.

    **Tabular exports (Parquet / CSV):** For bulk historical loads, time-series endpoints accept
    `format=parquet` or `format=csv`, or (when `format` is omitted) `Accept: application/vnd.apache.parquet`
    or `Accept: text/csv`. Successful responses use `Content-Type: application/vnd.apache.parquet` or
    `text/csv; charset=utf-8` and `Content-Disposition: attachment` with a descriptive filename.
    Each export is a single flat table; column names and types match the per-operation schemas referenced
    in the response media type descriptions (aligned with JSON row objects or zipped parallel arrays).
    Parquet is produced via schema inference from the first row (UTF8 strings, DOUBLE floats, INT64 integers,
    BOOLEAN, TIMESTAMP_MILLIS for JavaScript Date values). CSV uses a header row, comma separators, UTF-8,
    and RFC 4180-style quoting when needed. Prefer Parquet for typed columnar stacks (pandas, Polars, Arrow);
    use CSV for spreadsheets and lightweight scripting.

  contact:
    name: RiskModels Support
    email: service@riskmodels.app
    url: https://riskmodels.app

  termsOfService: https://riskmodels.app/legal
  license:
    name: Commercial
    url: https://riskmodels.app/legal

servers:
  - url: https://riskmodels.app/api
    description: Production

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: rm_agent_{environment}_{random}_{checksum}
      description: >
        API key in format `rm_agent_{live|test}_{random}_{checksum}` or `rm_user_{random}_{checksum}`.
        Obtain via `POST /api/auth/provision` or from riskmodels.app/settings → API Keys.
        Include as: `Authorization: Bearer rm_agent_live_...`

    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://riskmodels.app/api/auth/token
          scopes:
            ticker-returns: Access ticker returns and historical data
            risk-decomposition: Access L3 risk decomposition
            batch-analysis: Perform portfolio batch analysis
            factor-correlation: Correlate stocks with macro factors (VIX, Bitcoin, Gold, etc.)
            macro-factor-series: Download daily macro factor return series (no ticker)
            chat-risk-analyst: Use AI risk analyst
            plaid:holdings: Access Plaid-synced portfolio holdings
            "*": Full API access

  parameters:
    FormatQueryTabular:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum: [json, parquet, csv]
        default: json
      description: >
        Response carrier. `json` (default): structured payload for this operation (body includes
        `_metadata` where documented). `parquet` / `csv`: a single flat table of time-series rows only —
        lineage comes from `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size`.
        When this parameter is omitted, `Accept: application/vnd.apache.parquet` or `Accept: text/csv`
        selects the tabular format.

  schemas:
    AgentMeta:
      type: object
      description: Per-request billing and telemetry metadata appended to metered responses.
      properties:
        cost_usd:
          type: number
          format: float
          description: Cost deducted from prepaid balance for this request. 0 if served from cache.
          example: 0.005
        latency_ms:
          type: integer
          description: Server processing time in milliseconds.
          example: 145
        request_id:
          type: string
          description: Unique request identifier for support lookups.
          example: req_abc123xyz
        confidence:
          type: object
          properties:
            overall:
              type: number
              format: float
              minimum: 0
              maximum: 1
              example: 0.98
            factors:
              type: object
              additionalProperties:
                type: number
        data_freshness:
          type: string
          format: date-time
          description: ISO timestamp of the data's as-of datetime.
          example: "2026-02-21T10:30:00Z"
        billing_code:
          type: string
          description: Internal billing classification for this request type.
          example: ticker_returns_v2
        cache_status:
          type: string
          enum: [HIT, MISS, BYPASS]
          description: Whether this response was served from cache.
        llm_cost_usd:
          type: number
          format: float
          description: >
            POST /chat only: portion of cost from LLM token billing (estimated preflight charge).
        tool_cost_usd:
          type: number
          format: float
          description: POST /chat only; sum of internal data tool charges for this turn.
        tool_calls:
          type: integer
          description: POST /chat only; number of tool invocations in this request.

    ChatToolCallSummary:
      type: object
      description: One internal tool invocation from POST /chat (billing + latency).
      properties:
        tool:
          type: string
          description: OpenAI function name (e.g. get_risk_metrics).
        capability:
          type: string
          nullable: true
          description: Billing capability id, or null for free tools (e.g. search_tickers).
        cost_usd:
          type: number
          format: float
        latency_ms:
          type: integer
        error:
          type: string
          nullable: true

    RiskMetadata:
      type: object
      description: >
        Lineage and provenance metadata for all data responses.
        Included in response body as _metadata and as X-Risk-* headers.
      properties:
        model_version:
          type: string
          description: ERM3 model version (e.g. ERM3-L3-v30).
          example: "ERM3-L3-v30"
        data_as_of:
          type: string
          format: date
          description: Latest trading date reflected in the response (model outputs / latest snapshot).
          example: "2026-03-17"
        factor_set_id:
          type: string
          description: Factor set identifier.
          example: "SPY_uni_mc_3000"
        universe_size:
          type: integer
          description: Number of stocks in the universe.
          example: 2987
        wiki_uri:
          type: string
          format: uri
          description: Methodology documentation URL.
          example: "https://riskmodels.app/docs/methodology/erm3-l3"
        factors:
          type: array
          items:
            type: string
          description: L3 factor ETF tickers (market + 11 sectors).
          example:
            [
              "SPY",
              "XLK",
              "XLF",
              "XLV",
              "XLE",
              "XLI",
              "XLY",
              "XLP",
              "XLU",
              "XLB",
              "XLRE",
              "XLC",
            ]
        data_source:
          type: string
          enum: [zarr]
          description: >
            Present on history-style JSON responses. Always `"zarr"` as of the pure-Zarr SSOT
            cutover: all historical time series (daily metrics, hedge weights, returns
            decomposition, rankings) are served from consolidated Zarr stores on GCS. The
            Supabase `security_history` table has been removed; the legacy `"supabase"` value
            is retained in clients only for backwards compatibility.
        range:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
            format: date
          description: >
            Optional inclusive ISO date bounds of the returned history window when `data_source` is set.
          example: ["2018-01-02", "2026-04-14"]

    EstimateResponse:
      type: object
      description: Cost estimate for a request before it is made.
      required:
        - estimated_cost_usd
        - capability
        - pricing_model
        - note
      properties:
        estimated_cost_usd:
          type: number
          format: float
          example: 0.008
        estimated_tokens:
          type: integer
          example: 400
        estimated_rows:
          type: integer
          description: Estimated row count for time-series endpoints.
        estimated_bytes:
          type: integer
          description: Estimated response size in bytes.
        capability:
          type: string
          example: "ticker-returns"
        pricing_model:
          type: string
          enum: [per_request, per_position, per_token, subscription]
        unit_cost_usd:
          type: number
          format: float
        min_charge:
          type: number
          format: float
        note:
          type: string
          example: "Actual cost may vary. Cached responses are free."

    MetricsV3:
      type: object
      description: >
        V3 metric keys as returned inside `GET /metrics/{ticker}` under the `metrics` property.
        Suffixes: `_mkt` market, `_sec` sector, `_sub` subsector, `_res` residual.
        Hedge ratios (HR) are dollars of ETF to trade per $1 of stock; explained risk (ER) are variance fractions (0–1).
        Keys `l1_cfr`–`l3_rr` are daily simple returns from returns decomposition:
          - `*_cfr` (combined factor return) is CUMULATIVE through the level: `l1_cfr = l1_fr`,
            `l2_cfr = l1_fr + l2_fr`, `l3_cfr = l1_fr + l2_fr + l3_fr`.
          - `*_fr`  (factor return, INCREMENTAL) is each level's own contribution —
            `l2_fr` is what the sector factor adds on top of L1 alone, `l3_fr` is what
            the subsector factor adds on top of L1+L2. Use these for stacked-bar decomposition
            charts or for agent-side attribution ("what drove today's return at each level?").
          - `*_rr`  (residual return) is what's left after factors through that level —
            `gross_return ≈ l3_cfr + l3_rr`.
        None of these are ER fields and none come from hedge-weight explainability.
        Keys `l1_mkt_beta`, `l2_sec_beta`, `l3_sub_beta` are dimensionless hierarchical regression betas
        (one per level: 1 for L1, 2 for L2, 3 for L3 — though only the L*-introduced new factor is stored at each level).
        These are NOT the same as hedge ratios — betas are regression coefficients, hedge ratios are dollar-notional ratios.
      properties:
        vol_23d:
          type: number
          format: float
          nullable: true
          description: Annualised realised volatility (23 trading days), decimal fraction.
        vol_252d_ann:
          type: number
          format: float
          nullable: true
          description: >
            Annualised realised volatility over the trailing ~252 trading days,
            decimal fraction. Computed on demand from daily `returns_gross` and cached
            per (symbol, data_as_of); matches the horizon of 1y return cascades so
            callers can size positions on a common basis. Null when fewer than 20
            usable daily observations are available.
        price_close:
          type: number
          format: float
          nullable: true
        market_cap:
          type: number
          format: float
          nullable: true
        stock_var:
          type: number
          format: float
          nullable: true
        l1_mkt_hr:
          type: number
          format: float
          nullable: true
        l1_mkt_er:
          type: number
          format: float
          nullable: true
        l1_res_er:
          type: number
          format: float
          nullable: true
        l1_cfr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple combined factor return through L1 (market), decimal (same convention as returns_gross).
            From returns-decomposition zarr (ds_erm3_returns), not hedge weights. Not a variance fraction — unlike l1_mkt_er.
            At L1 this is equal to l1_fr (there's no level below market to add on top of).
        l1_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L1 (market) — the INCREMENTAL contribution of the
            market factor alone. At L1 this equals l1_cfr. Use `l1_fr`/`l2_fr`/`l3_fr` for
            stacked-bar factor decomposition charts and for per-level P&L attribution.
        l1_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L1 (decimal). Not l1_res_er (explained risk).
        l2_mkt_hr:
          type: number
          format: float
          nullable: true
        l2_sec_hr:
          type: number
          format: float
          nullable: true
        l2_mkt_er:
          type: number
          format: float
          nullable: true
        l2_sec_er:
          type: number
          format: float
          nullable: true
        l2_res_er:
          type: number
          format: float
          nullable: true
        l2_cfr:
          type: number
          format: float
          nullable: true
          description: Daily simple combined factor return through L2 (market + sector), decimal. Equals l1_fr + l2_fr.
        l2_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L2 (sector) — the INCREMENTAL contribution the
            sector factor adds on top of L1 (market). For a sector-led rally this is the
            number to highlight in charts.
        l2_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L2 (decimal).
        l3_mkt_hr:
          type: number
          format: float
          nullable: true
        l3_sec_hr:
          type: number
          format: float
          nullable: true
        l3_sub_hr:
          type: number
          format: float
          nullable: true
        l3_mkt_er:
          type: number
          format: float
          nullable: true
        l3_sec_er:
          type: number
          format: float
          nullable: true
        l3_sub_er:
          type: number
          format: float
          nullable: true
        l3_res_er:
          type: number
          format: float
          nullable: true
          description: Idiosyncratic variance fraction at L3.
        l3_cfr:
          type: number
          format: float
          nullable: true
          description: Daily simple combined factor return through L3 (market + sector + subsector), decimal. Equals l1_fr + l2_fr + l3_fr.
        l3_fr:
          type: number
          format: float
          nullable: true
          description: >
            Daily simple factor return for L3 (subsector) — the INCREMENTAL contribution the
            subsector factor adds on top of L1 + L2. Completes the three-level stacked
            decomposition: l1_fr + l2_fr + l3_fr + l3_rr ≈ gross_return.
        l3_rr:
          type: number
          format: float
          nullable: true
          description: Daily simple residual return at L3 (decimal). Distinct from l3_residual_er (ER).
        l1_mkt_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L1 market factor (always SPY). Dimensionless
            (units of stock-return per unit of factor-return). One value per symbol from the L1 model.
            Sourced from `ds_erm3_betas` `factor_beta` at `fact_level=1`. NOT a hedge ratio (which is
            dollar-notional). NOT classical univariate beta — see `SEMANTIC_ALIASES.md` for the
            multivariate-vs-univariate convention.
        l2_sec_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L2 sector factor — the symbol's specific sector ETF
            (e.g. XLK for AAPL, XLF for JPM). Dimensionless. From `ds_erm3_betas` `factor_beta` at
            `fact_level=2`. Null when the symbol has no sector classification.
        l3_sub_beta:
          type: number
          format: float
          nullable: true
          description: >
            Hierarchical regression beta to the symbol's L3 subsector factor — the symbol's specific
            subsector ETF (e.g. RSPT for AAPL, KBE for JPM). Dimensionless. From `ds_erm3_betas`
            `factor_beta` at `fact_level=3`. Null when the symbol has no subsector classification.

    DecomposeRequest:
      type: object
      description: Request body for `POST /decompose`.
      required:
        - ticker
      properties:
        ticker:
          type: string
          description: Stock ticker symbol (case-insensitive; trimmed and upper-cased).
          example: NVDA

    DecomposeLayer:
      type: object
      description: >
        One layer of the four-bet decomposition. `er` is a variance fraction in
        [0, 1]. `hr` is a dollar-ratio hedge ratio (dollars of ETF per $1 of
        stock). `residual` has no tradable ETF, so `hr` and `hedge_etf` are
        null for that layer.
      required:
        - er
        - hr
        - hedge_etf
      properties:
        er:
          type: number
          nullable: true
          description: Explained-risk variance fraction for this layer.
          example: 0.22
        hr:
          type: number
          nullable: true
          description: Hedge ratio (dollar ratio) for this layer. Null for residual.
          example: 0.35
        hedge_etf:
          type: string
          nullable: true
          description: Tradable ETF for this layer. Null for residual.
          example: XLK

    DecomposeResponse:
      type: object
      description: >
        Wire response for `POST /decompose`. Semantic four-layer shape; each
        tradable layer maps to one ETF. The top-level `hedge` map is the
        negative of each layer's `hr` keyed by ETF (ready to convert into
        short notionals).
      required:
        - ticker
        - symbol
        - data_as_of
        - teo
        - exposure
        - hedge
      properties:
        ticker:
          type: string
          example: NVDA
        symbol:
          type: string
          description: Canonical symbol key in V3 registry.
        data_as_of:
          type: string
          format: date
          description: Latest trading day the metrics apply to.
        teo:
          type: string
          format: date
          description: V3 observation date (time-end) for this row.
        exposure:
          type: object
          required: [market, sector, subsector, residual]
          properties:
            market:
              $ref: "#/components/schemas/DecomposeLayer"
            sector:
              $ref: "#/components/schemas/DecomposeLayer"
            subsector:
              $ref: "#/components/schemas/DecomposeLayer"
            residual:
              $ref: "#/components/schemas/DecomposeLayer"
        hedge:
          type: object
          additionalProperties:
            type: number
          description: >
            Map of hedge-ETF → dollar ratio (= negative of the layer `hr`).
            If two layers share the same ETF (e.g. subsector falls back to
            the sector ETF), the values are summed so each ETF appears once.
          example:
            SPY: -1.10
            XLK: -0.35
            SMH: -0.60
        _metadata:
          type: object
          description: Lineage, billing code, and freshness (same shape as `/metrics`).
        _data_health:
          type: object
          properties:
            er_populated:
              type: boolean
            er_sum:
              type: number
              nullable: true
              description: Sum of L3 ER layers (should be ≈ 1 within tolerance).

    CanonicalSnapshotPortfolioRequest:
      type: object
      description: >
        Request body for `POST /api/snapshot` when `type` is `portfolio`. Each position must
        include exactly one of `weight` (fractional or dollar — normalized to weights) or `shares`
        (converted using latest `price_close`). Do not mix weight-based and share-based rows in one request.
      required: [type, portfolio]
      properties:
        type:
          type: string
          enum: [portfolio]
        portfolio:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required: [ticker]
            properties:
              ticker:
                type: string
                description: US equity ticker (case-insensitive; normalized to uppercase).
              weight:
                type: number
                format: float
                exclusiveMinimum: 0
                description: Positive weight or dollar amount (server normalizes to sum to 1).
              shares:
                type: number
                format: float
                exclusiveMinimum: 0
                description: Share count; converted to weights using latest `price_close`.
        lookback_days:
          type: integer
          minimum: 20
          maximum: 2000
          default: 252
          description: Trading days of history for return curves and attribution series.
        mode:
          type: string
          enum: [frozen]
          default: frozen
          description: Currently only `frozen` (initial weights held through the window).
        benchmark:
          type: string
          nullable: true
          description: Optional benchmark ticker (reserved).

    CanonicalSnapshotResponse:
      type: object
      description: >
        Canonical JSON portfolio snapshot: L3 variance decomposition, frozen-weight daily
        attribution (gross and factor strips), cumulative return and drawdown, and risk summary.
        Response also includes `_metadata` and `_agent` (see other metered POST routes).
      required: [snapshot, time_behavior, attribution, risk_summary, metadata]
      properties:
        snapshot:
          type: object
          additionalProperties: true
        time_behavior:
          type: object
          additionalProperties: true
        attribution:
          type: object
          additionalProperties: true
        risk_summary:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true

    MetricsSnapshotResponse:
      type: object
      description: >
        Wire response for `GET /metrics/{ticker}`. Numeric fields live under `metrics`;
        `teo` is the observation date (V3 time-end).
      required:
        - symbol
        - ticker
        - teo
        - periodicity
        - metrics
        - display
        - meta
      properties:
        symbol:
          type: string
          description: Canonical symbol key in V3 registry.
        ticker:
          type: string
          example: NVDA
        teo:
          type: string
          format: date
          description: Latest observation date for the metrics row.
        periodicity:
          type: string
          example: daily
        metrics:
          $ref: "#/components/schemas/MetricsV3"
        display:
          type: object
          additionalProperties:
            type: string
          description: Optional display labels for metric keys (e.g. UI column titles).
        meta:
          type: object
          properties:
            sector_etf:
              type: string
              nullable: true
            asset_type:
              type: string
              nullable: true

    TickerReturnsDailyRow:
      type: object
      description: >
        One trading day in `GET /ticker-returns` `data` array. Stock rows populate the full
        V3 security_history field set below. **ETF rows are a strict subset — only `date`,
        `returns_gross`, and `price_close` are emitted** (the L1/L2/L3 hedge/ER properties
        are omitted entirely from ETF rows rather than returned as `null`, since ETFs are
        not factor-decomposed). Branch on the response's top-level `asset_type` before
        reading L* fields.
      properties:
        date:
          type: string
          format: date
        returns_gross:
          type: number
          format: float
          nullable: true
          description: Daily gross return of the stock. Null when rolling-window metrics are unavailable (trailing data).
        price_close:
          type: number
          format: float
          nullable: true
          description: End-of-day price when available from history.
        l3_mkt_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 market hedge ratio (SPY notional per $1 stock). Null in trailing rows
            where the rolling regression window has insufficient data. May be negative
            (orthogonalization); negative market HR at L2/L3 is common.
        l3_sec_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 sector ETF hedge ratio (dollar_ratio). Null when the rolling window has
            insufficient data. May be negative due to orthogonalization (factor neutralization);
            not a sign error in the data.
        l3_sub_hr:
          type: number
          format: float
          nullable: true
          description: >
            Rolling L3 subsector ETF hedge ratio (dollar_ratio). Null when the rolling window has
            insufficient data. May be negative (orthogonalization or long subsector ETF leg); not a
            sign error in the data.
        l3_mkt_er:
          type: number
          format: float
          nullable: true
          description: >
            Market variance share at L3 (explained risk, 0–1). Null in trailing rows where the
            rolling window has insufficient data.
        l3_sec_er:
          type: number
          format: float
          nullable: true
          description: >
            Sector variance share at L3 (explained risk, 0–1). Null when the rolling window has
            insufficient data.
        l3_sub_er:
          type: number
          format: float
          nullable: true
          description: >
            Subsector variance share at L3 (explained risk, 0–1). Null when the rolling window has
            insufficient data.
        l3_res_er:
          type: number
          format: float
          nullable: true
          description: >
            Idiosyncratic (residual) variance share at L3 (0–1); SDK semantic name `l3_residual_er`.
            Null when the rolling window has insufficient data.

    GrossReturnDailyRow:
      type: object
      description: >
        One trading day in Parquet/CSV for `GET /returns` and `GET /etf-returns`: long table
        with the same fields as zipping JSON parallel arrays `dates` and `returns_gross` by index.
      properties:
        date:
          type: string
          format: date
        returns_gross:
          type: number
          format: float
          nullable: true
          description: Daily gross return (same series as JSON `returns_gross` array).

    BatchAnalyzeExportRow:
      type: object
      description: >
        One row in Parquet/CSV from `POST /batch/analyze` when `format` is `parquet` or `csv`.
        Emitted only for tickers that succeeded with `returns` data; tickers with errors are omitted.
      properties:
        ticker:
          type: string
        date:
          type: string
          format: date
        gross_return:
          type: number
          format: float
          nullable: true
          description: Daily gross return (JSON `returns.values` at the same index as `date`).
        l1:
          type: number
          format: float
          nullable: true
          description: Rolling L3 market HR history (`returns.l1` in JSON).
        l2:
          type: number
          format: float
          nullable: true
          description: Rolling L3 sector HR history (`returns.l2` in JSON).
        l3:
          type: number
          format: float
          nullable: true
          description: Rolling L3 subsector HR history (`returns.l3` in JSON).

    TickerReturnsResponseV3:
      type: object
      required:
        - symbol
        - ticker
        - periodicity
        - data
        - meta
      properties:
        symbol:
          type: string
        ticker:
          type: string
        asset_type:
          type: string
          enum: [stock, etf]
          description: >
            Returned for every response. ETF responses populate `date`,
            `returns_gross`, and `price_close` only; all L1/L2/L3 columns are
            `null` because ETFs are not factor-decomposed.
        periodicity:
          type: string
          example: daily
        data:
          type: array
          items:
            $ref: "#/components/schemas/TickerReturnsDailyRow"
        meta:
          $ref: "#/components/schemas/TickerReturnsMeta"

    TickerReturnsMeta:
      type: object
      properties:
        market_etf:
          type: string
          example: SPY
        sector_etf:
          type: string
          nullable: true
          description: Null for ETF tickers (e.g. `SPY` itself).
          example: SOXX
        subsector_etf:
          type: string
          nullable: true
          example: XSD
        universe:
          type: string
          description: "`US_EQUITY` for stocks, `US_ETF` for ETFs."
          example: US_EQUITY

    BatchHedgeRatios:
      type: object
      description: >
        Present when `metrics` includes `hedge_ratios`. Dollar HRs per $1 stock (same economics as
        `full_metrics` `*_hr` fields). Property names are **short** (`l1_market`, …); ERM3 zarr
        hedge-weight naming `L1_market_HR` … `L3_subsector_HR` maps row-wise to these keys — see
        docs/ERM3_ZARR_API_PARITY.md.
      properties:
        l1_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L1_market_HR`; same as `full_metrics.l1_market_hr`.
        l2_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L2_market_HR`; same as `full_metrics.l2_market_hr`.
        l2_sector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L2_sector_HR`; same as `full_metrics.l2_sector_hr`.
        l3_market:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_market_HR`; same as `full_metrics.l3_market_hr`.
        l3_sector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_sector_HR`; same as `full_metrics.l3_sector_hr`.
        l3_subsector:
          type: number
          format: float
          nullable: true
          description: Zarr-style alias `L3_subsector_HR`; same as `full_metrics.l3_subsector_hr`.

    BatchReturnsPayload:
      type: object
      description: >
        Present when `metrics` includes `returns`. Arrays are parallel by index.
        Fields `l1`, `l2`, `l3` hold daily rolling hedge ratios from V3 (`l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr` history), not combined L1/L2/L3 model levels.
      properties:
        dates:
          type: array
          items:
            type: string
            format: date
        values:
          type: array
          items:
            type: number
          description: Daily gross returns (`returns_gross`).
        l1:
          type: array
          items:
            type: number
            nullable: true
        l2:
          type: array
          items:
            type: number
            nullable: true
        l3:
          type: array
          items:
            type: number
            nullable: true

    BatchFullMetrics:
      type: object
      description: >
        Present when `metrics` includes `full_metrics`. Flat snapshot for batch consumers: L1/L2/L3
        explained-risk and hedge-ratio fields when available from the backend (see
        docs/ERM3_ZARR_API_PARITY.md for zarr `L*_ER` / `L*_HR` mapping). Zarr topic-level
        `wmean_*` features are computed **client-side** as holdings-weighted means of these fields.
        Nulls mean missing or not modelled for that ticker — not omitted keys.
        Hedge ratios may be negative at any level (orthogonalization); negative **market** HR
        at L2 or L3 is especially common.
      properties:
        ticker:
          type: string
        date:
          type: string
          format: date
          nullable: true
          description: Observation date (`teo`) for the snapshot; align with `X-Data-As-Of` / `_metadata.data_as_of`.
        volatility:
          type: number
          format: float
          nullable: true
        l1_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_market_HR`; mirrors `hedge_ratios.l1_market`.
        l2_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_market_HR`; mirrors `hedge_ratios.l2_market`.
        l2_sector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_sector_HR`; mirrors `hedge_ratios.l2_sector`.
        l3_market_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_market_HR`; mirrors `hedge_ratios.l3_market`.
        l3_sector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_sector_HR`; mirrors `hedge_ratios.l3_sector`.
        l3_subsector_hr:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_subsector_HR`; mirrors `hedge_ratios.l3_subsector`.
        l1_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_market_ER`.
        l1_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L1_residual_ER`.
        l2_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_market_ER`.
        l2_sector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_sector_ER`.
        l2_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L2_residual_ER`.
        l3_market_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_market_ER`.
        l3_sector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_sector_ER`.
        l3_subsector_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_subsector_ER`.
        l3_residual_er:
          type: number
          format: float
          nullable: true
          description: Zarr-style `L3_residual_ER`.
        market_cap:
          type: number
          format: float
          nullable: true
        close_price:
          type: number
          format: float
          nullable: true

    BatchAnalyzeTickerResult:
      type: object
      description: One entry in `POST /batch/analyze` `results` map (keyed by upper-case ticker).
      required:
        - ticker
        - status
      properties:
        ticker:
          type: string
        status:
          type: string
          enum: [success, error]
        error:
          type: string
          description: Present when status is `error`.
        returns:
          $ref: "#/components/schemas/BatchReturnsPayload"
        hedge_ratios:
          $ref: "#/components/schemas/BatchHedgeRatios"
        full_metrics:
          $ref: "#/components/schemas/BatchFullMetrics"
        meta:
          type: object
          nullable: true
          properties:
            market_etf:
              type: string
              example: SPY
            sector_etf:
              type: string
              nullable: true
            subsector_etf:
              type: string
              nullable: true

    BatchAnalyzeResponse:
      type: object
      required:
        - results
        - summary
        - _agent
      properties:
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/BatchAnalyzeTickerResult"
        summary:
          type: object
          properties:
            total:
              type: integer
            success:
              type: integer
            errors:
              type: integer
        _agent:
          $ref: "#/components/schemas/AgentMeta"
        _metadata:
          $ref: "#/components/schemas/RiskMetadata"
          description: >
            Lineage for PIT tests: model version, as-of date, factor set, universe size. Also emitted
            as `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size` headers
            when the gateway attaches them.

    L3DecompositionResponse:
      type: object
      description: >
        Columnar L3 decomposition from V3 `security_history` (daily points; arrays are parallel by index).
        Field names use readable suffixes (`l3_market_er`, …). No `_agent` block in the current response body.
      required:
        - ticker
        - dates
        - l3_market_hr
        - l3_sector_hr
        - l3_subsector_hr
        - l3_market_er
        - l3_sector_er
        - l3_subsector_er
        - l3_residual_er
        - market_factor_etf
        - universe
        - data_source
      properties:
        ticker:
          type: string
        dates:
          type: array
          items:
            type: string
            format: date
        l3_market_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_sector_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_subsector_hr:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_market_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_sector_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_subsector_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        l3_residual_er:
          type: array
          items:
            type: number
            format: float
            nullable: true
        market_factor_etf:
          type: string
        universe:
          type: string
        data_source:
          type: string
          example: security_history

    FactorCorrelationRequest:
      type: object
      required:
        - ticker
      properties:
        ticker:
          oneOf:
            - type: string
              example: NVDA
            - type: array
              items:
                type: string
              maxItems: 50
        factors:
          type: array
          items:
            type: string
          description: >
            Factor keys matching `macro_factors.factor_key`. Two sleeves share the table
            and endpoint; the `metadata.category` field on each row distinguishes them.

            **Macro sleeve (10 keys, from `ds_macro_factor.zarr`):**
            `inflation` (TIP), `term_spread` (VGIT), `short_rates` (BIL), `credit` (HYG),
            `oil` (USO), `gold` (GLD), `usd` (UUP), `volatility` (VXX short-term vol futures),
            `bitcoin` (BITO), `vix_spot` (FRED VIXCLS spot index). Note: `volatility` and
            `vix_spot` are DIFFERENT — VXX captures futures roll dynamics, VIXCLS is pure spot.

            **Style sleeve (8 keys, mirrored from `ds_etf.zarr`):**
            `momentum` (MTUM), `quality` (QUAL), `low_vol` (USMV), `value` (VLUE),
            `growth` (IWF), `size` (IWM), `dividend` (SCHD), `moat` (MOAT). History starts
            at each ETF's launch date (2011–2013 for MSCI factors; 2000 for IWF/IWM);
            pre-launch windows return `null` correlations. Style factors are most
            informative against `return_type=l3_residual`: because the residual is already
            orthogonal to SPY/sector/subsector, correlation isolates the pure style tilt.

            Legacy v1 aliases (`dxy`→`usd`, `vix`→`vix_spot`, `ust10y2y`→`term_spread`),
            common synonyms (btc, wti, xau, gld, cpi, tips), and style aliases (mtum, qual,
            usmv, vlue, iwf, iwm, schd, moat, minvol, small_cap) are normalized server-side.
            Defaults to all 18 canonical keys when omitted.
        return_type:
          type: string
          enum: [gross, l1, l2, l3_residual]
          default: l3_residual
        window_days:
          type: integer
          minimum: 20
          maximum: 2000
          default: 252
        method:
          type: string
          enum: [pearson, spearman]
          default: pearson

    FactorCorrelationSingleResponse:
      allOf:
        - $ref: "#/components/schemas/FactorCorrelationResultBody"
        - type: object
          properties:
            _metadata:
              $ref: "#/components/schemas/RiskMetadata"
            _agent:
              type: object
              properties:
                latency_ms:
                  type: integer
                request_id:
                  type: string

    FactorCorrelationResponse:
      oneOf:
        - allOf:
            - $ref: "#/components/schemas/FactorCorrelationResultBody"
            - type: object
              properties:
                _metadata:
                  $ref: "#/components/schemas/RiskMetadata"
                _agent:
                  type: object
                  properties:
                    latency_ms:
                      type: integer
                    request_id:
                      type: string
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                oneOf:
                  - $ref: "#/components/schemas/FactorCorrelationResultBody"
                  - type: object
                    required:
                      - ticker
                      - error
                      - status
                    properties:
                      ticker:
                        type: string
                      error:
                        type: string
                      status:
                        type: integer
            _metadata:
              $ref: "#/components/schemas/RiskMetadata"
            _agent:
              type: object
              properties:
                latency_ms:
                  type: integer
                request_id:
                  type: string

    FactorCorrelationResultBody:
      type: object
      required:
        - ticker
        - return_type
        - window_days
        - method
        - correlations
        - overlap_days
        - warnings
      properties:
        ticker:
          type: string
        return_type:
          type: string
          enum: [gross, l1, l2, l3_residual]
        window_days:
          type: integer
        method:
          type: string
          enum: [pearson, spearman]
        correlations:
          type: object
          additionalProperties:
            type: number
            nullable: true
        overlap_days:
          type: integer
          description: Largest number of paired observations used among requested factors.
        warnings:
          type: array
          items:
            type: string

    MacroFactorsSeriesRow:
      type: object
      required:
        - factor_key
        - teo
      properties:
        factor_key:
          type: string
          example: bitcoin
        teo:
          type: string
          format: date
        return_gross:
          type: number
          format: float
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          description: Present only when non-empty in `macro_factors.metadata`.

    MacroFactorsSeriesResponse:
      type: object
      required:
        - factors_requested
        - start
        - end
        - row_count
        - series
        - warnings
      properties:
        factors_requested:
          type: array
          items:
            type: string
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        row_count:
          type: integer
        series:
          type: array
          items:
            $ref: "#/components/schemas/MacroFactorsSeriesRow"
        warnings:
          type: array
          items:
            type: string
        _metadata:
          $ref: "#/components/schemas/RiskMetadata"
        _agent:
          type: object
          properties:
            latency_ms:
              type: integer
            request_id:
              type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: TICKER_NOT_FOUND
        message:
          type: string
          description: Human-readable error description with suggested action.
          example: "Ticker 'XYZABC' not found in universe 'uni_mc_3000'. Check ticker spelling or try a different universe."
        code:
          type: integer
          description: HTTP status code.
          example: 404
        details:
          type: object
          properties:
            field:
              type: string
              example: ticker
            received:
              type: string
              example: XYZABC
            universe:
              type: string
              example: uni_mc_3000
            suggestion:
              type: string
              example: "Check for typos or use ticker search endpoint"

    OAuth2TokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum: [client_credentials]
          description: Must be "client_credentials"
        client_id:
          type: string
          pattern: "^rm_(user|agent)_[a-z0-9_]{32,}$"
          example: rm_agent_live_abc123
          description: API key prefix (first segment)
        client_secret:
          type: string
          format: password
          example: rm_agent_live_abc123_xyz789_checksum
          description: Full API key
        scope:
          type: string
          example: "ticker-returns risk-decomposition"
          description: Space-separated list of requested scopes

    OAuth2TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          format: jwt
          description: JWT access token (use as Bearer token)
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          example: 900
          description: Token lifetime in seconds (900 = 15 minutes)
        scope:
          type: string
          description: Space-separated list of granted scopes

    OAuth2Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - invalid_grant
            - unsupported_grant_type
            - server_error
        error_description:
          type: string

    PlaidHolding:
      type: object
      properties:
        account_id:
          type: string
        security_id:
          type: string
        institution_value:
          type: number
          description: Current value in USD
        quantity:
          type: number
        ticker:
          type: string
          description: Normalized ticker symbol
        name:
          type: string
          description: Security name
        risk_metrics:
          $ref: "#/components/schemas/RiskMetrics"

    RiskMetrics:
      type: object
      description: Optional risk enrichment on Plaid holdings; names may match batch `full_metrics` or V3 `metrics` keys depending on pipeline version.
      properties:
        annualized_volatility:
          type: number
          nullable: true
        volatility:
          type: number
          nullable: true
        sharpe_ratio:
          type: number
          nullable: true
        l3_mkt_hr:
          type: number
          nullable: true
        l3_sec_hr:
          type: number
          nullable: true
        l3_sub_hr:
          type: number
          nullable: true
        l3_res_er:
          type: number
          nullable: true
        l3_market_hr:
          type: number
          nullable: true
        l3_sector_hr:
          type: number
          nullable: true
        l3_subsector_hr:
          type: number
          nullable: true
        l3_residual_er:
          type: number
          nullable: true

    MCPTool:
      type: object
      description: >
        MCP tool descriptor as returned by `tools/list`. Tools are discoverable via
        `https://riskmodels.app/.well-known/mcp.json` or by connecting to the SSE
        endpoint at `https://riskmodels.app/api/mcp/sse` and calling `tools/list`.
      properties:
        name:
          type: string
          enum:
            - riskmodels_list_endpoints
            - riskmodels_get_capability
            - riskmodels_get_schema
            - analyze_portfolio
            - hedge_portfolio
            - get_risk_decomposition
          description: |
            Available tools:
            - `riskmodels_list_endpoints`: List all available API endpoints with summaries, tags, and costs. No required inputs.
            - `riskmodels_get_capability`: Get detailed schema and documentation for a specific capability by ID (e.g. "ticker-returns", "metrics", "l3-decomposition"). Input: `{ id: string }`.
            - `riskmodels_get_schema`: Fetch the JSON response schema for a given endpoint path. Input: `{ path: string }`.
            - `analyze_portfolio`: Analyze a portfolio of ticker positions — returns per-ticker risk metrics (volatility, hedge ratios, explained risk) and portfolio-level aggregates. Input: `{ positions: Array<{ ticker: string, weight?: number }> }`.
            - `hedge_portfolio`: Compute optimal hedge notionals for a portfolio using ERM3 factor model. Returns L1/L2/L3 hedge amounts in USD. Input: `{ positions: Array<{ ticker: string, notional_usd: number }>, level?: "l1"|"l2"|"l3" }`.
            - `get_risk_decomposition`: Get monthly L3 factor risk decomposition time series for a ticker. Input: `{ ticker: string, from?: string, to?: string }`.
        description:
          type: string
        inputSchema:
          type: object
          description: JSON Schema describing the tool's input parameters.
        outputSchema:
          type: object
          description: JSON Schema describing the tool's output structure.

    RankingMetricKeys:
      type: object
      description: >
        V3 security_history ranking metric keys (when rankings are exposed via API).
        Pattern: rank_ord_{window}_{cohort}_{metric}, cohort_size_{window}_{cohort}_{metric}.
        Windows: 1d, 21d, 63d, 252d. Cohorts: universe, sector, subsector.
        Metrics: mkt_cap, gross_return, sector_residual, subsector_residual, er_l1, er_l2, er_l3.
        rank_percentile computed client-side: (1 - (rank_ord - 1) / cohort_size) * 100.

    InsufficientBalance:
      type: object
      description: Returned when the account prepaid balance is exhausted (HTTP 402).
      properties:
        error:
          type: string
          enum: [INSUFFICIENT_BALANCE]
          example: INSUFFICIENT_BALANCE
        message:
          type: string
          example: "Insufficient balance. Current balance: $0.00. Top up at https://riskmodels.app/billing"
        balance_usd:
          type: number
          format: float
          example: 0.0
        top_up_url:
          type: string
          format: uri
          example: https://riskmodels.app/billing

    RateLimitExceeded:
      type: object
      description: Returned when the per-minute rate limit is exceeded (HTTP 429).
      properties:
        error:
          type: string
          enum: [RATE_LIMIT_EXCEEDED]
          example: RATE_LIMIT_EXCEEDED
        message:
          type: string
          example: "Rate limit exceeded. Retry after 2026-03-08T12:34:56Z"
        retry_after:
          type: string
          format: date-time
          description: ISO timestamp after which the client may retry.
          example: "2026-03-08T12:34:56Z"
        limit:
          type: integer
          description: Requests allowed per minute for this key.
          example: 60

    Fund:
      type: object
      description: >
        Mutual fund registry row from `public.funds`. One row per `bw_fund_id`.
        Latest temporal triple (`latest_report_date` / `latest_filing_date` /
        `latest_extracted_at`) reflects the most recent N-PORT snapshot known
        for this fund. Q5 lock: `primary_bw_fund_id` is reserved as a nullable
        column; NULL means this row IS the primary share class (or no primary
        chosen yet). See ARCHITECTURE_FUNDS_API.md §4.1.
      properties:
        bw_fund_id:
          type: string
          description: Funds_DAG canonical fund id. Format `BW-FUND-{series_id}`.
          example: BW-FUND-S000004310
        series_id:
          type: string
          nullable: true
          description: SEC series id.
          example: S000004310
        ticker:
          type: string
          nullable: true
          example: VFINX
        cik:
          type: string
          nullable: true
        fund_name:
          type: string
          nullable: true
          example: Vanguard 500 Index Fund Investor Shares
        morningstar_category:
          type: string
          nullable: true
        equity_style_9box:
          type: string
          nullable: true
          enum:
            - Large Value
            - Large Blend
            - Large Growth
            - Mid Value
            - Mid Blend
            - Mid Growth
            - Small Value
            - Small Blend
            - Small Growth
        style_link_method:
          type: string
          nullable: true
        primary_bw_fund_id:
          type: string
          nullable: true
        latest_report_date:
          type: string
          format: date
          nullable: true
          description: Period end of the most recent reported holdings (= "fund_date").
        latest_filing_date:
          type: string
          format: date
          nullable: true
          description: SEC acceptance date for the latest filing (= "release_date").
        latest_extracted_at:
          type: string
          format: date-time
          nullable: true
        latest_total_adj_mv:
          type: number
          format: float
          nullable: true
        latest_n_holdings:
          type: integer
          nullable: true
        latest_effective_n:
          type: number
          format: float
          nullable: true
        last_in_eligible_universe_at:
          type: string
          format: date
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    FundLatest:
      type: object
      description: >
        Wide-row latest knowledge-mode snapshot from `public.funds_latest`.
        One row per `bw_fund_id`. Returns and diagnostics flatten the per-fund
        `ds_portfolio.zarr` (Funds_DAG Slice 8). Multi-quarter history lives
        in GCS Zarr (Stage B+). See ARCHITECTURE_FUNDS_API.md §4.2.
      required: [bw_fund_id, report_date, filing_date, extracted_at, last_synced_at]
      properties:
        bw_fund_id: { type: string, example: BW-FUND-S000004310 }
        report_date: { type: string, format: date, example: "2026-04-30" }
        filing_date: { type: string, format: date, example: "2026-07-14" }
        extracted_at: { type: string, format: date-time }
        portfolio_gross_return: { type: number, format: float, nullable: true }
        portfolio_market_return: { type: number, format: float, nullable: true }
        portfolio_sector_return: { type: number, format: float, nullable: true }
        portfolio_subsector_return: { type: number, format: float, nullable: true }
        portfolio_idiosyncratic_return: { type: number, format: float, nullable: true }
        identity_residual: { type: number, format: float, nullable: true }
        weight_sum:
          type: number
          format: float
          nullable: true
          description: ERM3 universe coverage (fraction of fund AUM mapping to in-universe symbols).
        n_holdings_active: { type: integer, nullable: true }
        effective_n:
          type: number
          format: float
          nullable: true
          description: HHI-derived diversification (1 / sum(w_i^2)).
        top10_weight_sum: { type: number, format: float, nullable: true }
        total_adj_mv: { type: number, format: float, nullable: true }
        equity_style_9box: { type: string, nullable: true }
        n_funds_in_cell_at_report_date: { type: integer, nullable: true }
        model_version:
          type: string
          nullable: true
          example: funds_dag.v20260502
        factor_set_id:
          type: string
          nullable: true
          example: uni_mc_3000_SPY
        last_synced_at: { type: string, format: date-time }
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    FundWithLatest:
      type: object
      description: Fund registry row joined with the latest knowledge-mode snapshot.
      required: [fund]
      properties:
        fund:
          $ref: "#/components/schemas/Fund"
        latest:
          oneOf:
            - $ref: "#/components/schemas/FundLatest"
            - type: "null"
          nullable: true

    FundsBatchRequest:
      type: object
      required: [fund_ids]
      properties:
        fund_ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 1000
          example: ["BW-FUND-S000004310", "BW-FUND-S000123456"]

    FundsBatchResponse:
      type: object
      description: Multi-fund lookup. Keys are `bw_fund_id`s present in the registry.
      properties:
        results:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/FundWithLatest"

    FundsSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Fund"

    FundsStyleMembersResponse:
      type: object
      required: [equity_style_9box, slug, fund_ids, count]
      properties:
        equity_style_9box:
          type: string
          example: Large Blend
        slug:
          type: string
          example: large-blend
        fund_ids:
          type: array
          items:
            type: string
        count:
          type: integer

    FundMetricsResponse:
      type: object
      description: >
        Latest knowledge-mode metrics for a single mutual fund. Joins
        `public.funds` (registry) with `public.funds_latest` (the wide-row
        snapshot) and groups return components / diagnostics / meta into
        nested objects. Bitemporal triple is at the top level; lineage in
        `_metadata`.
      required: [bw_fund_id, report_date, filing_date, extracted_at, returns, diagnostics, meta, _metadata]
      properties:
        bw_fund_id: { type: string, example: BW-FUND-S000004310 }
        ticker: { type: string, nullable: true, example: VFINX }
        fund_name: { type: string, nullable: true }
        equity_style_9box:
          type: string
          nullable: true
          enum:
            - Large Value
            - Large Blend
            - Large Growth
            - Mid Value
            - Mid Blend
            - Mid Growth
            - Small Value
            - Small Blend
            - Small Growth
        report_date: { type: string, format: date, example: "2026-04-30" }
        filing_date: { type: string, format: date, example: "2026-07-14" }
        extracted_at: { type: string, format: date-time }
        returns:
          type: object
          description: Portfolio-level return components from the per-fund Slice 8 zarr.
          properties:
            gross: { type: number, format: float, nullable: true }
            market: { type: number, format: float, nullable: true }
            sector: { type: number, format: float, nullable: true }
            subsector: { type: number, format: float, nullable: true }
            idiosyncratic: { type: number, format: float, nullable: true }
            identity_residual:
              type: number
              format: float
              nullable: true
              description: L3 noise diagnostic (gross − sum of layer returns).
        diagnostics:
          type: object
          properties:
            weight_sum:
              type: number
              format: float
              nullable: true
              description: ERM3 universe coverage (fraction of fund AUM in mapped symbols).
            n_holdings_active: { type: integer, nullable: true }
            effective_n:
              type: number
              format: float
              nullable: true
              description: HHI-derived diversification (1 / sum(w_i^2)).
            top10_weight_sum: { type: number, format: float, nullable: true }
        meta:
          type: object
          properties:
            total_adj_mv: { type: number, format: float, nullable: true }
            n_funds_in_cell_at_report_date: { type: integer, nullable: true }
            morningstar_category: { type: string, nullable: true }
            primary_bw_fund_id: { type: string, nullable: true }
        _metadata:
          type: object
          properties:
            model_version:
              type: string
              nullable: true
              example: funds_dag.v20260502
            factor_set_id:
              type: string
              nullable: true
              example: uni_mc_3000_SPY
            data_as_of: { type: string, format: date }
            data_freshness: { type: string, format: date-time }
            last_synced_at: { type: string, format: date-time }

security:
  - BearerAuth: []

paths:
  /auth/token:
    post:
      summary: Generate OAuth2 Access Token
      description: >
        OAuth 2.0 client credentials flow for machine-to-machine authentication.
        Exchange API credentials for a short-lived JWT token (15 minutes).


        **Use Cases:**

        - AI agents connecting to the API

        - Server-to-server integrations

        - npm package authentication

        - MCP client authentication
      operationId: generateOAuthToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2TokenRequest"
            example:
              grant_type: client_credentials
              client_id: rm_agent_live_abc123
              client_secret: rm_agent_live_abc123_xyz789_checksum
              scope: ticker-returns risk-decomposition
      responses:
        "200":
          description: Access token generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2TokenResponse"
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: Bearer
                expires_in: 900
                scope: ticker-returns risk-decomposition batch-analysis
        "400":
          description: Invalid request (missing or invalid grant_type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Error"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Error"

  /mcp/sse:
    get:
      summary: MCP Streamable HTTP Connection
      description: >
        Model Context Protocol endpoint using the Streamable HTTP transport
        (successor to the legacy SSE+companion-POST pattern). A single URL
        handles both `GET` (optional server→client event stream) and `POST`
        (client→server JSON-RPC 2.0 messages).


        **Discovery:** The MCP server manifest is published at
        `https://riskmodels.app/.well-known/mcp.json` for automated client discovery.


        **Connection:**

        - Transport: Streamable HTTP (stateless mode)

        - Authentication: `Authorization: Bearer <key>` (preferred) or
          `?api_key=<key>` query param (for `EventSource`, which can't set
          custom headers).

        - Tool-call billing: charged per-invocation on the underlying REST
          endpoint (e.g. `get_metrics` bills the same as `GET /metrics/{ticker}`).


        **Usage — mcp-remote proxy:**

        ```json

        {
          "mcpServers": {
            "riskmodels": {
              "command": "npx",
              "args": ["mcp-remote", "https://riskmodels.app/api/mcp/sse"],
              "env": { "AUTHORIZATION": "Bearer rm_agent_live_..." }
            }
          }
        }

        ```
      operationId: mcpServerSSE
      tags:
        - MCP
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: ["*"]
      responses:
        "200":
          description: SSE connection established
          content:
            text/event-stream:
              schema:
                type: string
                format: event-stream
              example: |
                data: {"jsonrpc":"2.0","method":"notifications/initialized","params":{...}}

                data: {"jsonrpc":"2.0","method":"notifications/ping","params":{"timestamp":1234567890}}
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

    post:
      summary: MCP JSON-RPC Request
      description: >
        Send JSON-RPC 2.0 messages to the MCP server.


        **Available methods:**

        - `tools/list` - List available MCP tools

        - `tools/call` - Invoke an MCP tool

        - `resources/list` - List available resources

        - `resources/read` - Read a resource
      operationId: mcpServerRPC
      tags:
        - MCP
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: ["*"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - method
                - id
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                method:
                  type: string
                  example: tools/call
                params:
                  type: object
                id:
                  oneOf:
                    - type: string
                    - type: integer
            example:
              jsonrpc: "2.0"
              method: tools/call
              params:
                name: riskmodels_get_capability
                arguments:
                  id: ticker-returns
              id: 1
      responses:
        "200":
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    oneOf:
                      - type: string
                      - type: integer
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

  /.well-known/ai-plugin.json:
    get:
      summary: OpenAI GPT Plugin Manifest
      description: >
        Plugin manifest for OpenAI GPT Store integration.
        Enables ChatGPT and other OpenAI models to discover and use the RiskModels API.
      operationId: getAIPluginManifest
      tags:
        - Compliance
        - Discovery
      security: []
      responses:
        "200":
          description: Plugin manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema_version:
                    type: string
                    example: v1
                  name_for_human:
                    type: string
                    example: RiskModels
                  name_for_model:
                    type: string
                    example: riskmodels
                  description_for_human:
                    type: string
                  description_for_model:
                    type: string
                  auth:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [service_http]
                      authorization_type:
                        type: string
                        enum: [bearer]
                  api:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [openapi]
                      url:
                        type: string
                        format: uri
                  logo_url:
                    type: string
                    format: uri
                  contact_email:
                    type: string
                    format: email

  /.well-known/agentic-disclosure.json:
    get:
      summary: Agentic Privacy Disclosure
      description: >
        Comprehensive data handling and privacy disclosure for AI marketplace compliance.
        Documents encryption, retention, third-party sharing, and regulatory compliance.


        **Key sections:**

        - Data handling (AES-256-GCM, GCP KMS)

        - Cryptographic shredding for GDPR compliance

        - Third-party sharing policy (none)

        - AI model usage (no training on user data)

        - Compliance (GDPR, SOC2, PCI-DSS)
      operationId: getAgenticDisclosure
      tags:
        - Compliance
        - Privacy
      security: []
      responses:
        "200":
          description: Privacy disclosure document
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: object
                  data_handling:
                    type: object
                  compliance:
                    type: object
                  security:
                    type: object
                  transparency:
                    type: object

  /.well-known/mcp.json:
    get:
      summary: MCP Server Manifest
      description: >
        Model Context Protocol server connection manifest.
        Enables AI model clients to discover and connect to the RiskModels MCP server.
      operationId: getMCPManifest
      tags:
        - MCP
        - Discovery
      security: []
      responses:
        "200":
          description: MCP server manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  mcpServers:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        url:
                          type: string
                          format: uri
                        transport:
                          type: string
                          enum: [sse, stdio]
                        auth:
                          type: object
                        capabilities:
                          type: object
                        tools:
                          type: array
                          items:
                            $ref: "#/components/schemas/MCPTool"

  /plaid/link-token:
    post:
      summary: Create Plaid Link token (Investments)
      description: >
        One-time `link_token` for Plaid Link in the browser. Requires an authenticated user.
        After Link succeeds, exchange the `public_token` via `POST /plaid/exchange-public-token`.
        **No per-request charge.**
      operationId: createPlaidLinkToken
      tags: [Plaid Integration]
      x-pricing:
        capability_id: plaid-link-token
        tier: baseline
        model: per_request
        cost_usd: 0
        currency: USD
        billing_code: plaid_link_token_v1
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: [plaid:holdings]
      responses:
        "200":
          description: Link token for Plaid Link SDK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  link_token:
                    type: string
                  expiration:
                    type: string
                    description: RFC-3339 datetime when the link_token expires.
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Plaid or configuration error.

  /plaid/exchange-public-token:
    post:
      summary: Exchange Plaid public token for stored item
      description: >
        Exchanges the short-lived `public_token` from Plaid Link for an access token, encrypted
        and stored server-side. Repeat connections create/update one row per Plaid `item_id`.
        **No per-request charge.**
      operationId: exchangePlaidPublicToken
      tags: [Plaid Integration]
      x-pricing:
        capability_id: plaid-exchange-public-token
        tier: baseline
        model: per_request
        cost_usd: 0
        currency: USD
        billing_code: plaid_exchange_v1
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: [plaid:holdings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [public_token]
              properties:
                public_token:
                  type: string
                  description: From Plaid Link onSuccess.
      responses:
        "200":
          description: Item stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  item_id:
                    type: string
                  request_id:
                    type: string
        "400":
          description: Missing or invalid body.
        "401":
          description: Unauthorized.
        "500":
          description: Plaid or storage error.

  /plaid/holdings:
    get:
      summary: Fetch Plaid-synced portfolio holdings
      description: >
        Returns enriched holdings from connected Plaid accounts with risk metrics.


        **Features:**

        - Automatic ticker resolution and normalization

        - Risk enrichment with factor exposures

        - Real-time portfolio valuation

        - Multi-account aggregation


        **Authentication:** Required (API Key or OAuth2 with plaid:holdings scope)

        **Billing:** $0.02 per request

        **Rate Limit:** 60 requests/minute
      operationId: getPlaidHoldings
      tags:
        - Plaid Integration
      x-pricing:
        capability_id: plaid-holdings
        tier: premium
        model: per_request
        cost_usd: 0.02
        currency: USD
        billing_code: plaid_holdings_v2
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: [plaid:holdings]
      responses:
        "200":
          description: Enriched holdings with risk metrics
          headers:
            X-API-Cost-USD:
              schema: { type: string }
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
            X-RateLimit-Reset:
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: object
                properties:
                  holdings:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlaidHolding"
                  accounts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Plaid account objects from Investments Holdings (per connected item).
                  securities:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Plaid security objects referenced by holdings.
                  connections_count:
                    type: integer
                    description: Number of connected Plaid items for this user.
                  summary:
                    type: object
                    properties:
                      total_value:
                        type: number
                      account_count:
                        type: integer
                      position_count:
                        type: integer
                  _metadata:
                    type: object
                    additionalProperties: true
                  _agent:
                    $ref: "#/components/schemas/AgentMeta"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: API key missing `plaid:holdings` scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"
        "503":
          description: Plaid or token encryption not configured.

  /metrics/{ticker}:
    get:
      summary: Latest risk metrics snapshot
      description: >
        Returns the latest V3 daily metrics for the ticker. Numeric fields are under the
        `metrics` object using abbreviated keys (`l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr`,
        `l3_mkt_er`, `l3_res_er`, `vol_23d`, etc.). The observation date is `teo`.
        Optional `display` maps keys to human-readable labels.


        **Authentication:** Required (API Key or OAuth2)

        **Billing:** $0.001 per request (deducted from account balance)

        **Rate Limit:** 60 requests/minute (default)
      operationId: getMetrics
      tags: [Risk Metrics]
      x-pricing:
        capability_id: metrics
        tier: baseline
        model: per_request
        cost_usd: 0.001
        currency: USD
        billing_code: metrics_v3
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: [ticker-returns]
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Ticker symbol (case-insensitive).
          example: NVDA
      responses:
        "200":
          description: Latest metrics snapshot.
          headers:
            X-API-Cost-USD:
              schema: { type: string }
              description: Cost deducted for this request (e.g. "0.001").
            X-Cache-Status:
              schema: { type: string, enum: [HIT, MISS, BYPASS] }
            X-Data-Freshness:
              schema: { type: string, format: date-time }
            X-RateLimit-Limit:
              schema: { type: integer }
              description: Request limit per minute
            X-RateLimit-Remaining:
              schema: { type: integer }
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema: { type: integer }
              description: Unix timestamp when limit resets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsSnapshotResponse"
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "404":
          description: Symbol not found or no metrics row (see error message).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

  /decompose:
    post:
      summary: Decompose a position into four additive bets with hedge ratios
      description: >
        Returns the simplified four-layer ERM3 exposure for a single ticker:
        `market`, `sector`, `subsector`, and `residual`. Each tradable layer
        (market / sector / subsector) maps to a hedge ETF from `ticker_metadata`;
        `residual` is stock-specific and not tradable. The response also includes
        a top-level `hedge` map of ETF → dollar ratio (negative of the layer
        hedge ratio by convention, so a positive stock HR yields a negative ETF
        notional: short the ETF to offset long stock exposure).


        Same billing profile as `GET /metrics/{ticker}` — this is a thin
        semantic wrapper that flattens the L3 metrics into an agent-friendly
        shape. For the full L1/L2/L3 snapshot (all six HR names), use
        `GET /metrics/{ticker}`.


        **Authentication:** Required (API Key or OAuth2)

        **Billing:** $0.001 per request

        **Rate Limit:** 120 requests/minute (default)
      operationId: decomposePosition
      tags: [Risk Metrics]
      x-pricing:
        capability_id: decompose-position
        tier: baseline
        model: per_request
        cost_usd: 0.001
        currency: USD
        billing_code: metrics_v3
      security:
        - BearerAuth: []
        - OAuth2ClientCredentials: [ticker-returns]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecomposeRequest"
            examples:
              nvda:
                summary: Decompose NVDA
                value: { ticker: "NVDA" }
              aapl:
                summary: Decompose AAPL
                value: { ticker: "AAPL" }
      responses:
        "200":
          description: Four-layer decomposition with hedge map.
          headers:
            X-API-Cost-USD:
              schema: { type: string }
              description: Cost deducted for this request (e.g. "0.001").
            X-Data-Freshness:
              schema: { type: string, format: date-time }
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
            X-RateLimit-Reset:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecomposeResponse"
        "400":
          description: Malformed ticker or invalid JSON body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "404":
          description: Symbol not found or no metrics row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

  /ticker-returns:
    get:
      summary: Daily returns time series with rolling hedge ratios (stocks and ETFs)
      description: >
        Returns a daily time series of gross returns (`returns_gross`) and, for stocks, V3 rolling
        hedge ratios and explained-risk fields per day: `l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr`,
        `l3_mkt_er`, `l3_sec_er`, `l3_sub_er`, `l3_res_er`. Up to 15 years per request.
        **ETFs are supported**: requests for ETF tickers (e.g. `SPY`, `XLK`) return
        `date`, `returns_gross`, and `price_close` sourced from `ds_etf.zarr`; L1/L2/L3 columns
        are `null` because ETFs are not factor-decomposed. The response includes
        `asset_type` ("stock" or "etf") so clients can branch cleanly.
        For the full L1/L2/L3 **snapshot** (all six HR names on the latest day), use
        `GET /metrics/{ticker}` (`metrics` object). Response does not include a top-level `_agent`
        block; billing is applied server-side. Cost: $0.005/call regardless of years pulled.
      operationId: getTickerReturns
      tags: [Risk Metrics]
      x-pricing:
        capability_id: ticker-returns
        tier: baseline
        model: per_request
        cost_usd: 0.005
        currency: USD
        billing_code: ticker_returns_v2
      parameters:
        - name: ticker
          in: query
          required: true
          schema:
            type: string
          example: NVDA
        - name: years
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 15
            default: 1
          description: Number of years of history to return.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Maximum number of rows to return.
        - name: nocache
          in: query
          required: false
          schema:
            type: boolean
          description: Bypass cache (incurs cost even if identical request was recently made).
        - $ref: "#/components/parameters/FormatQueryTabular"
      responses:
        "200":
          description: >
            Time series of daily returns, `price_close`, and V3 rolling HR/ER fields. JSON wraps rows
            in `data` with `symbol`, `ticker`, `meta`, `_metadata`. Parquet/CSV are a single table:
            one row per trading day; columns match `#/components/schemas/TickerReturnsDailyRow` in a
            stable key order (same field names as JSON object keys in each `data` element).
          headers:
            ETag:
              schema:
                type: string
              description: >
                Weak ETag (`W/"..."`). Clients may send `If-None-Match` to obtain `304 Not Modified`
                when the series is unchanged for this ticker, `years`, and format.
            X-Risk-Model-Version:
              schema: { type: string }
            X-Data-As-Of:
              schema: { type: string, format: date }
            X-Factor-Set-Id:
              schema: { type: string }
            X-Universe-Size:
              schema: { type: integer }
          content:
            application/vnd.apache.parquet:
              schema:
                type: string
                format: binary
              description: >
                Apache Parquet (one table). Row schema equals `#/components/schemas/TickerReturnsDailyRow`.
                No `_metadata` columns; use response headers for lineage.
            text/csv:
              schema:
                type: string
              description: >
                UTF-8 CSV: header row then one row per trading day; columns match the Parquet export.
              example: |
                date,returns_gross,price_close,l3_mkt_hr,l3_sec_hr,l3_sub_hr,l3_mkt_er,l3_sec_er,l3_sub_er,l3_res_er
                2025-03-20,0.0123,950.25,0.95,0.12,0.03,0.41,0.22,0.08,0.29
            application/json:
              schema:
                $ref: "#/components/schemas/TickerReturnsResponseV3"
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "404":
          description: Ticker not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

  /returns:
    get:
      summary: Daily gross returns time series (single ticker)
      description: >
        DEPRECATED — use `/ticker-returns` instead. `/ticker-returns` now accepts
        both stocks and ETFs and returns daily gross returns plus (for stocks)
        rolling hedge ratios. This route returns 404 today and will be removed from
        the spec once the SDK drops its `get_returns` wrapper.
      deprecated: true
      operationId: getReturns
      tags: [Risk Metrics, Deprecated]
      x-pricing:
        capability_id: ticker-returns
        tier: baseline
        model: per_request
        cost_usd: 0.005
        currency: USD
        billing_code: ticker_returns_v2
      parameters:
        - name: ticker
          in: query
          required: true
          schema:
            type: string
          example: AAPL
        - $ref: "#/components/parameters/FormatQueryTabular"
      responses:
        "200":
          description: >
            Daily gross returns. JSON uses a parallel `returns_gross` array (see schema). Parquet/CSV
            use a long table `#/components/schemas/GrossReturnDailyRow` (`date`, `returns_gross` per row).
          headers:
            X-Risk-Model-Version:
              schema: { type: string }
            X-Data-As-Of:
              schema: { type: string, format: date }
            X-Factor-Set-Id:
              schema: { type: string }
            X-Universe-Size:
              schema: { type: integer }
          content:
            application/vnd.apache.parquet:
              schema:
                type: string
                format: binary
              description: >
                Apache Parquet; columns `date`, `returns_gross` per `#/components/schemas/GrossReturnDailyRow`.
            text/csv:
              schema:
                type: string
              description: >
                UTF-8 CSV with header `date,returns_gross`.
              example: |
                date,returns_gross
                2025-03-20,0.0123
            application/json:
              schema:
                type: object
                properties:
                  symbol: { type: string }
                  ticker: { type: string }
                  periodicity: { type: string }
                  returns_gross:
                    { type: array, items: { type: "number", nullable: true } }
                  _metadata: { $ref: "#/components/schemas/RiskMetadata" }
        "400":
          description: Missing ticker.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientBalance"
        "404":
          description: Ticker not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceeded"

  /etf-returns:
    get:
      summary: Daily gross returns time series (ETF)
      description: >
        DEPRECATED — use `/ticker-returns` with the ETF ticker (e.g. `SPY`, `XLK`).
[...]
