{
  "openapi": "3.0.3",
  "info": {
    "title": "RiskModels API",
    "version": "3.0.0-agent",
    "description": "Precision equity risk intelligence platform with AI agent integration.\nInstitutional-grade equity risk analysis for AI agents and quantitative applications. Provides daily factor hedge ratios, explained-risk decompositions, and portfolio-level risk attribution for ~3,000 US equities.\n\n**New in v3.0.0-agent:**\n- OAuth2 client credentials flow for machine-to-machine auth\n- Plaid Investments integration for live portfolio sync\n- MCP (Model Context Protocol) server for AI agent tools\n- Compliance manifests for AI marketplace integration\n- Per-key rate limiting and scoped access control\n\n**Data**: Universe `uni_mc_3000` (top ~3,000 US stocks by market cap), date range 2006-01-04 to present, updated daily end-of-day. Backend: Zarr v2 on Google Cloud Storage, computed by the ERM3 regression system (Huber/Ridge). Supabase tables `erm3_betas` and `erm3_rankings` provide factor betas and ticker rankings for direct DB and API use.\n\n**Authentication Methods:**\n1. Session cookies (web app)\n2. API Key/Secret via Bearer token (external integrations)\n3. OAuth2 client credentials (AI agents, npm package)\n\n**Security Features:**\n- GCP KMS envelope encryption for portfolio data\n- Cryptographic shredding on key deletion\n- HMAC-SHA256 webhook verification\n- Row-level security (RLS) via Supabase\n\n**Pricing**: Per-request billing with prepaid balance. Cached responses are free. Many metered responses include `_agent.cost_usd` in the JSON body; others bill silently — always check the `X-API-Cost-USD` response header when present.\n**Lineage**: All data responses include `_metadata` (model version, data_as_of, factor set) and headers `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size`.\n",
    "contact": {
      "name": "RiskModels Support",
      "email": "contact@riskmodels.net",
      "url": "https://riskmodels.app"
    },
    "termsOfService": "https://riskmodels.app/terms/api",
    "license": {
      "name": "Commercial",
      "url": "https://riskmodels.app/terms"
    }
  },
  "servers": [
    {
      "url": "https://riskmodels.app/api",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rm_agent_{environment}_{random}_{checksum}",
        "description": "API key in format `rm_agent_{live|test}_{random}_{checksum}` or `rm_user_{random}_{checksum}`. Obtain via `POST /api/auth/provision` or from riskmodels.app/settings → API Keys. Include as: `Authorization: Bearer rm_agent_live_...`\n"
      },
      "OAuth2ClientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://riskmodels.app/api/auth/token",
            "scopes": {
              "ticker-returns": "Access ticker returns and historical data",
              "risk-decomposition": "Access L3 risk decomposition",
              "batch-analysis": "Perform portfolio batch analysis",
              "chat-risk-analyst": "Use AI risk analyst",
              "plaid:holdings": "Access Plaid-synced portfolio holdings",
              "*": "Full API access"
            }
          }
        }
      }
    },
    "schemas": {
      "AgentMeta": {
        "type": "object",
        "description": "Per-request billing and telemetry metadata appended to metered responses.",
        "properties": {
          "cost_usd": {
            "type": "number",
            "format": "float",
            "description": "Cost deducted from prepaid balance for this request. 0 if served from cache.",
            "example": 0.005
          },
          "latency_ms": {
            "type": "integer",
            "description": "Server processing time in milliseconds.",
            "example": 145
          },
          "request_id": {
            "type": "string",
            "description": "Unique request identifier for support lookups.",
            "example": "req_abc123xyz"
          },
          "confidence": {
            "type": "object",
            "properties": {
              "overall": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "example": 0.98
              },
              "factors": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                }
              }
            }
          },
          "data_freshness": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of the data's as-of datetime.",
            "example": "2026-02-21T10:30:00Z"
          },
          "billing_code": {
            "type": "string",
            "description": "Internal billing classification for this request type.",
            "example": "ticker_returns_v2"
          },
          "cache_status": {
            "type": "string",
            "enum": [
              "HIT",
              "MISS",
              "BYPASS"
            ],
            "description": "Whether this response was served from cache."
          }
        }
      },
      "RiskMetadata": {
        "type": "object",
        "description": "Lineage and provenance metadata for all data responses. Included in response body as _metadata and as X-Risk-* headers.\n",
        "properties": {
          "model_version": {
            "type": "string",
            "description": "ERM3 model version (e.g. ERM3-L3-v30).",
            "example": "ERM3-L3-v30"
          },
          "data_as_of": {
            "type": "string",
            "format": "date",
            "description": "Latest trading date in security_history.",
            "example": "2026-03-17"
          },
          "factor_set_id": {
            "type": "string",
            "description": "Factor set identifier.",
            "example": "SPY_uni_mc_3000"
          },
          "universe_size": {
            "type": "integer",
            "description": "Number of stocks in the universe.",
            "example": 2987
          },
          "wiki_uri": {
            "type": "string",
            "format": "uri",
            "description": "Methodology documentation URL.",
            "example": "https://riskmodels.app/docs/methodology/erm3-l3"
          },
          "factors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "L3 factor ETF tickers (market + 11 sectors).",
            "example": [
              "SPY",
              "XLK",
              "XLF",
              "XLV",
              "XLE",
              "XLI",
              "XLY",
              "XLP",
              "XLU",
              "XLB",
              "XLRE",
              "XLC"
            ]
          }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "description": "Cost estimate for a request before it is made.",
        "required": [
          "estimated_cost_usd",
          "capability",
          "pricing_model",
          "note"
        ],
        "properties": {
          "estimated_cost_usd": {
            "type": "number",
            "format": "float",
            "example": 0.008
          },
          "estimated_tokens": {
            "type": "integer",
            "example": 400
          },
          "estimated_rows": {
            "type": "integer",
            "description": "Estimated row count for time-series endpoints."
          },
          "estimated_bytes": {
            "type": "integer",
            "description": "Estimated response size in bytes."
          },
          "capability": {
            "type": "string",
            "example": "ticker-returns"
          },
          "pricing_model": {
            "type": "string",
            "enum": [
              "per_request",
              "per_position",
              "per_token",
              "subscription"
            ]
          },
          "unit_cost_usd": {
            "type": "number",
            "format": "float"
          },
          "min_charge": {
            "type": "number",
            "format": "float"
          },
          "note": {
            "type": "string",
            "example": "Actual cost may vary. Cached responses are free."
          }
        }
      },
      "MetricsV3": {
        "type": "object",
        "description": "V3 metric keys as returned inside `GET /metrics/{ticker}` under the `metrics` property. Suffixes: `_mkt` market, `_sec` sector, `_sub` subsector, `_res` residual. Hedge ratios (HR) are dollars of ETF to trade per $1 of stock; explained risk (ER) are variance fractions (0–1).\n",
        "properties": {
          "vol_23d": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Annualised realised volatility (23 trading days), decimal fraction."
          },
          "price_close": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "market_cap": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "stock_var": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l1_mkt_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l1_mkt_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l1_res_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l2_mkt_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l2_sec_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l2_mkt_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l2_sec_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l2_res_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_mkt_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sec_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sub_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_mkt_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sec_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sub_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_res_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Idiosyncratic variance fraction at L3."
          }
        }
      },
      "MetricsSnapshotResponse": {
        "type": "object",
        "description": "Wire response for `GET /metrics/{ticker}`. Numeric fields live under `metrics`; `teo` is the observation date (V3 time-end).\n",
        "required": [
          "symbol",
          "ticker",
          "teo",
          "periodicity",
          "metrics",
          "display",
          "meta"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Canonical symbol key in V3 registry."
          },
          "ticker": {
            "type": "string",
            "example": "NVDA"
          },
          "teo": {
            "type": "string",
            "format": "date",
            "description": "Latest observation date for the metrics row."
          },
          "periodicity": {
            "type": "string",
            "example": "daily"
          },
          "metrics": {
            "$ref": "#/components/schemas/MetricsV3"
          },
          "display": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional display labels for metric keys (e.g. UI column titles)."
          },
          "meta": {
            "type": "object",
            "properties": {
              "sector_etf": {
                "type": "string",
                "nullable": true
              },
              "asset_type": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "TickerReturnsDailyRow": {
        "type": "object",
        "description": "One trading day in `GET /ticker-returns` `data` array (V3 security_history fields).",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "returns_gross": {
            "type": "number",
            "format": "float",
            "description": "Daily gross return of the stock."
          },
          "l3_mkt_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Rolling L3 market hedge ratio (SPY-notional per $1 stock)."
          },
          "l3_sec_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sub_hr": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_mkt_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sec_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_sub_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l3_res_er": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        }
      },
      "TickerReturnsResponseV3": {
        "type": "object",
        "required": [
          "symbol",
          "ticker",
          "periodicity",
          "data",
          "meta"
        ],
        "properties": {
          "symbol": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          },
          "periodicity": {
            "type": "string",
            "example": "daily"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TickerReturnsDailyRow"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/TickerReturnsMeta"
          }
        }
      },
      "TickerReturnsMeta": {
        "type": "object",
        "properties": {
          "market_etf": {
            "type": "string",
            "example": "SPY"
          },
          "sector_etf": {
            "type": "string",
            "example": "SOXX"
          },
          "subsector_etf": {
            "type": "string",
            "example": "XSD"
          },
          "universe": {
            "type": "string",
            "example": "US_EQUITY"
          }
        }
      },
      "BatchHedgeRatios": {
        "type": "object",
        "description": "Present when `metrics` includes `hedge_ratios`. Dollar HRs per $1 stock (same economics as `full_metrics` `*_hr` fields). Property names are **short** (`l1_market`, …); ERM3 zarr hedge-weight naming `L1_market_HR` … `L3_subsector_HR` maps row-wise to these keys — see docs/ERM3_ZARR_API_PARITY.md.\n",
        "properties": {
          "l1_market": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L1_market_HR`; same as `full_metrics.l1_market_hr`."
          },
          "l2_market": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L2_market_HR`; same as `full_metrics.l2_market_hr`."
          },
          "l2_sector": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L2_sector_HR`; same as `full_metrics.l2_sector_hr`."
          },
          "l3_market": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L3_market_HR`; same as `full_metrics.l3_market_hr`."
          },
          "l3_sector": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L3_sector_HR`; same as `full_metrics.l3_sector_hr`."
          },
          "l3_subsector": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style alias `L3_subsector_HR`; same as `full_metrics.l3_subsector_hr`."
          }
        }
      },
      "BatchReturnsPayload": {
        "type": "object",
        "description": "Present when `metrics` includes `returns`. Arrays are parallel by index. Fields `l1`, `l2`, `l3` hold daily rolling hedge ratios from V3 (`l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr` history), not combined L1/L2/L3 model levels.\n",
        "properties": {
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Daily gross returns (`returns_gross`)."
          },
          "l1": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "l2": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "l3": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          }
        }
      },
      "BatchFullMetrics": {
        "type": "object",
        "description": "Present when `metrics` includes `full_metrics`. Flat snapshot for batch consumers: L1/L2/L3 explained-risk and hedge-ratio fields when available from the backend (see docs/ERM3_ZARR_API_PARITY.md for zarr `L*_ER` / `L*_HR` mapping). Zarr topic-level `wmean_*` features are computed **client-side** as holdings-weighted means of these fields. Nulls mean missing or not modelled for that ticker — not omitted keys.\n",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Observation date (`teo`) for the snapshot; align with `X-Data-As-Of` / `_metadata.data_as_of`."
          },
          "volatility": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "l1_market_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L1_market_HR`; mirrors `hedge_ratios.l1_market`."
          },
          "l2_market_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L2_market_HR`; mirrors `hedge_ratios.l2_market`."
          },
          "l2_sector_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L2_sector_HR`; mirrors `hedge_ratios.l2_sector`."
          },
          "l3_market_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_market_HR`; mirrors `hedge_ratios.l3_market`."
          },
          "l3_sector_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_sector_HR`; mirrors `hedge_ratios.l3_sector`."
          },
          "l3_subsector_hr": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_subsector_HR`; mirrors `hedge_ratios.l3_subsector`."
          },
          "l1_market_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L1_market_ER`."
          },
          "l1_residual_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L1_residual_ER`."
          },
          "l2_market_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L2_market_ER`."
          },
          "l2_sector_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L2_sector_ER`."
          },
          "l2_residual_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L2_residual_ER`."
          },
          "l3_market_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_market_ER`."
          },
          "l3_sector_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_sector_ER`."
          },
          "l3_subsector_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_subsector_ER`."
          },
          "l3_residual_er": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Zarr-style `L3_residual_ER`."
          },
          "market_cap": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "close_price": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        }
      },
      "BatchAnalyzeTickerResult": {
        "type": "object",
        "description": "One entry in `POST /batch/analyze` `results` map (keyed by upper-case ticker).",
        "required": [
          "ticker",
          "status"
        ],
        "properties": {
          "ticker": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "error": {
            "type": "string",
            "description": "Present when status is `error`."
          },
          "returns": {
            "$ref": "#/components/schemas/BatchReturnsPayload"
          },
          "hedge_ratios": {
            "$ref": "#/components/schemas/BatchHedgeRatios"
          },
          "full_metrics": {
            "$ref": "#/components/schemas/BatchFullMetrics"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "properties": {
              "market_etf": {
                "type": "string",
                "example": "SPY"
              },
              "sector_etf": {
                "type": "string",
                "nullable": true
              },
              "subsector_etf": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "BatchAnalyzeResponse": {
        "type": "object",
        "required": [
          "results",
          "summary",
          "_agent"
        ],
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BatchAnalyzeTickerResult"
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "success": {
                "type": "integer"
              },
              "errors": {
                "type": "integer"
              }
            }
          },
          "_agent": {
            "$ref": "#/components/schemas/AgentMeta"
          },
          "_metadata": {
            "$ref": "#/components/schemas/RiskMetadata",
            "description": "Lineage for PIT tests: model version, as-of date, factor set, universe size. Also emitted as `X-Risk-Model-Version`, `X-Data-As-Of`, `X-Factor-Set-Id`, `X-Universe-Size` headers when the gateway attaches them.\n"
          }
        }
      },
      "L3DecompositionResponse": {
        "type": "object",
        "description": "Columnar L3 decomposition from V3 `security_history` (daily points; arrays are parallel by index). Field names use readable suffixes (`l3_market_er`, …). No `_agent` block in the current response body.\n",
        "required": [
          "ticker",
          "dates",
          "l3_market_hr",
          "l3_sector_hr",
          "l3_subsector_hr",
          "l3_market_er",
          "l3_sector_er",
          "l3_subsector_er",
          "l3_residual_er",
          "market_factor_etf",
          "universe",
          "data_source"
        ],
        "properties": {
          "ticker": {
            "type": "string"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            }
          },
          "l3_market_hr": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_sector_hr": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_subsector_hr": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_market_er": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_sector_er": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_subsector_er": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "l3_residual_er": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float",
              "nullable": true
            }
          },
          "market_factor_etf": {
            "type": "string"
          },
          "universe": {
            "type": "string"
          },
          "data_source": {
            "type": "string",
            "example": "factset"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code.",
            "example": "TICKER_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description with suggested action.",
            "example": "Ticker 'XYZABC' not found in universe 'uni_mc_3000'. Check ticker spelling or try a different universe."
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code.",
            "example": 404
          },
          "details": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "example": "ticker"
              },
              "received": {
                "type": "string",
                "example": "XYZABC"
              },
              "universe": {
                "type": "string",
                "example": "uni_mc_3000"
              },
              "suggestion": {
                "type": "string",
                "example": "Check for typos or use ticker search endpoint"
              }
            }
          }
        }
      },
      "OAuth2TokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "description": "Must be \"client_credentials\""
          },
          "client_id": {
            "type": "string",
            "pattern": "^rm_(user|agent)_[a-z0-9_]{32,}$",
            "example": "rm_agent_live_abc123",
            "description": "API key prefix (first segment)"
          },
          "client_secret": {
            "type": "string",
            "format": "password",
            "example": "rm_agent_live_abc123_xyz789_checksum",
            "description": "Full API key"
          },
          "scope": {
            "type": "string",
            "example": "ticker-returns risk-decomposition",
            "description": "Space-separated list of requested scopes"
          }
        }
      },
      "OAuth2TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "format": "jwt",
            "description": "JWT access token (use as Bearer token)"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "example": 900,
            "description": "Token lifetime in seconds (900 = 15 minutes)"
          },
          "scope": {
            "type": "string",
            "description": "Space-separated list of granted scopes"
          }
        }
      },
      "OAuth2Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "invalid_request",
              "invalid_client",
              "invalid_grant",
              "unsupported_grant_type",
              "server_error"
            ]
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "PlaidHolding": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "security_id": {
            "type": "string"
          },
          "institution_value": {
            "type": "number",
            "description": "Current value in USD"
          },
          "quantity": {
            "type": "number"
          },
          "ticker": {
            "type": "string",
            "description": "Normalized ticker symbol"
          },
          "name": {
            "type": "string",
            "description": "Security name"
          },
          "risk_metrics": {
            "$ref": "#/components/schemas/RiskMetrics"
          }
        }
      },
      "RiskMetrics": {
        "type": "object",
        "description": "Optional risk enrichment on Plaid holdings; names may match batch `full_metrics` or V3 `metrics` keys depending on pipeline version.",
        "properties": {
          "annualized_volatility": {
            "type": "number",
            "nullable": true
          },
          "volatility": {
            "type": "number",
            "nullable": true
          },
          "sharpe_ratio": {
            "type": "number",
            "nullable": true
          },
          "l3_mkt_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_sec_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_sub_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_res_er": {
            "type": "number",
            "nullable": true
          },
          "l3_market_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_sector_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_subsector_hr": {
            "type": "number",
            "nullable": true
          },
          "l3_residual_er": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "MCPTool": {
        "type": "object",
        "description": "MCP tool descriptor as returned by `tools/list`. Tools are discoverable via `https://riskmodels.app/.well-known/mcp.json` or by connecting to the SSE endpoint at `https://riskmodels.app/api/mcp/sse` and calling `tools/list`.\n",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "riskmodels_list_endpoints",
              "riskmodels_get_capability",
              "riskmodels_get_schema",
              "analyze_portfolio",
              "hedge_portfolio",
              "get_risk_decomposition"
            ],
            "description": "Available tools:\n- `riskmodels_list_endpoints`: List all available API endpoints with summaries, tags, and costs. No required inputs.\n- `riskmodels_get_capability`: Get detailed schema and documentation for a specific capability by ID (e.g. \"ticker-returns\", \"metrics\", \"l3-decomposition\"). Input: `{ id: string }`.\n- `riskmodels_get_schema`: Fetch the JSON response schema for a given endpoint path. Input: `{ path: string }`.\n- `analyze_portfolio`: Analyze a portfolio of ticker positions — returns per-ticker risk metrics (volatility, Sharpe, hedge ratios, explained risk) and portfolio-level aggregates. Input: `{ positions: Array<{ ticker: string, weight?: number }> }`.\n- `hedge_portfolio`: Compute optimal hedge notionals for a portfolio using ERM3 factor model. Returns L1/L2/L3 hedge amounts in USD. Input: `{ positions: Array<{ ticker: string, notional_usd: number }>, level?: \"l1\"|\"l2\"|\"l3\" }`.\n- `get_risk_decomposition`: Get monthly L3 factor risk decomposition time series for a ticker. Input: `{ ticker: string, from?: string, to?: string }`.\n"
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object",
            "description": "JSON Schema describing the tool's input parameters."
          },
          "outputSchema": {
            "type": "object",
            "description": "JSON Schema describing the tool's output structure."
          }
        }
      },
      "RankingMetricKeys": {
        "type": "object",
        "description": "V3 security_history ranking metric keys (when rankings are exposed via API). Pattern: rank_ord_{window}_{cohort}_{metric}, cohort_size_{window}_{cohort}_{metric}. Windows: 1d, 21d, 63d, 252d. Cohorts: universe, sector, subsector. Metrics: mkt_cap, gross_return, sector_residual, subsector_residual, er_l1, er_l2, er_l3. rank_percentile computed client-side: (1 - (rank_ord - 1) / cohort_size) * 100.\n"
      },
      "InsufficientBalance": {
        "type": "object",
        "description": "Returned when the account prepaid balance is exhausted (HTTP 402).",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "INSUFFICIENT_BALANCE"
            ],
            "example": "INSUFFICIENT_BALANCE"
          },
          "message": {
            "type": "string",
            "example": "Insufficient balance. Current balance: $0.00. Top up at https://riskmodels.app/billing"
          },
          "balance_usd": {
            "type": "number",
            "format": "float",
            "example": 0
          },
          "top_up_url": {
            "type": "string",
            "format": "uri",
            "example": "https://riskmodels.app/billing"
          }
        }
      },
      "RateLimitExceeded": {
        "type": "object",
        "description": "Returned when the per-minute rate limit is exceeded (HTTP 429).",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "RATE_LIMIT_EXCEEDED"
            ],
            "example": "RATE_LIMIT_EXCEEDED"
          },
          "message": {
            "type": "string",
            "example": "Rate limit exceeded. Retry after 2026-03-08T12:34:56Z"
          },
          "retry_after": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp after which the client may retry.",
            "example": "2026-03-08T12:34:56Z"
          },
          "limit": {
            "type": "integer",
            "description": "Requests allowed per minute for this key.",
            "example": 60
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Generate OAuth2 Access Token",
        "description": "OAuth 2.0 client credentials flow for machine-to-machine authentication. Exchange API credentials for a short-lived JWT token (15 minutes).\n\n**Use Cases:**\n- AI agents connecting to the API\n- Server-to-server integrations\n- npm package authentication\n- MCP client authentication\n",
        "operationId": "generateOAuthToken",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2TokenRequest"
              },
              "example": {
                "grant_type": "client_credentials",
                "client_id": "rm_agent_live_abc123",
                "client_secret": "rm_agent_live_abc123_xyz789_checksum",
                "scope": "ticker-returns risk-decomposition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2TokenResponse"
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "token_type": "Bearer",
                  "expires_in": 900,
                  "scope": "ticker-returns risk-decomposition batch-analysis"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing or invalid grant_type)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/sse": {
      "get": {
        "summary": "MCP Server SSE Connection",
        "description": "Server-Sent Events endpoint for Model Context Protocol communication. Establishes a persistent connection for real-time MCP protocol messages.\n\n**Discovery:** The MCP server manifest is published at `https://riskmodels.app/.well-known/mcp.json` for automated client discovery. Clients should read that manifest to obtain the SSE URL, supported tools, and auth requirements.\n\n**Connection:**\n- Protocol: Server-Sent Events (SSE)\n- Authentication: Required (Bearer token)\n- Keep-alive: 30-second heartbeat\n\n**Usage:**\n```javascript\nconst eventSource = new EventSource('https://riskmodels.app/api/mcp/sse', {\n  headers: { 'Authorization': 'Bearer rm_agent_...' }\n});\n```\n",
        "operationId": "mcpServerSSE",
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OAuth2ClientCredentials": [
              "*"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "SSE connection established",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "event-stream"
                },
                "example": "data: {\"jsonrpc\":\"2.0\",\"method\":\"notifications/initialized\",\"params\":{...}}\n\ndata: {\"jsonrpc\":\"2.0\",\"method\":\"notifications/ping\",\"params\":{\"timestamp\":1234567890}}\n"
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "MCP JSON-RPC Request",
        "description": "Send JSON-RPC 2.0 messages to the MCP server.\n\n**Available methods:**\n- `tools/list` - List available MCP tools\n- `tools/call` - Invoke an MCP tool\n- `resources/list` - List available resources\n- `resources/read` - Read a resource\n",
        "operationId": "mcpServerRPC",
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OAuth2ClientCredentials": [
              "*"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "method": {
                    "type": "string",
                    "example": "tools/call"
                  },
                  "params": {
                    "type": "object"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ]
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "tools/call",
                "params": {
                  "name": "riskmodels_get_capability",
                  "arguments": {
                    "id": "ticker-returns"
                  }
                },
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "result": {
                      "type": "object"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "summary": "OpenAI GPT Plugin Manifest",
        "description": "Plugin manifest for OpenAI GPT Store integration. Enables ChatGPT and other OpenAI models to discover and use the RiskModels API.\n",
        "operationId": "getAIPluginManifest",
        "tags": [
          "Compliance",
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Plugin manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schema_version": {
                      "type": "string",
                      "example": "v1"
                    },
                    "name_for_human": {
                      "type": "string",
                      "example": "RiskModels"
                    },
                    "name_for_model": {
                      "type": "string",
                      "example": "riskmodels"
                    },
                    "description_for_human": {
                      "type": "string"
                    },
                    "description_for_model": {
                      "type": "string"
                    },
                    "auth": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "service_http"
                          ]
                        },
                        "authorization_type": {
                          "type": "string",
                          "enum": [
                            "bearer"
                          ]
                        }
                      }
                    },
                    "api": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "openapi"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "logo_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "contact_email": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agentic-disclosure.json": {
      "get": {
        "summary": "Agentic Privacy Disclosure",
        "description": "Comprehensive data handling and privacy disclosure for AI marketplace compliance. Documents encryption, retention, third-party sharing, and regulatory compliance.\n\n**Key sections:**\n- Data handling (AES-256-GCM, GCP KMS)\n- Cryptographic shredding for GDPR compliance\n- Third-party sharing policy (none)\n- AI model usage (no training on user data)\n- Compliance (GDPR, SOC2, PCI-DSS)\n",
        "operationId": "getAgenticDisclosure",
        "tags": [
          "Compliance",
          "Privacy"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Privacy disclosure document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "type": "object"
                    },
                    "data_handling": {
                      "type": "object"
                    },
                    "compliance": {
                      "type": "object"
                    },
                    "security": {
                      "type": "object"
                    },
                    "transparency": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp.json": {
      "get": {
        "summary": "MCP Server Manifest",
        "description": "Model Context Protocol server connection manifest. Enables AI model clients to discover and connect to the RiskModels MCP server.\n",
        "operationId": "getMCPManifest",
        "tags": [
          "MCP",
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "MCP server manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mcpServers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "transport": {
                            "type": "string",
                            "enum": [
                              "sse",
                              "stdio"
                            ]
                          },
                          "auth": {
                            "type": "object"
                          },
                          "capabilities": {
                            "type": "object"
                          },
                          "tools": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/MCPTool"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plaid/holdings": {
      "get": {
        "summary": "Fetch Plaid-synced portfolio holdings",
        "description": "Returns enriched holdings from connected Plaid accounts with risk metrics.\n\n**Features:**\n- Automatic ticker resolution and normalization\n- Risk enrichment with factor exposures\n- Real-time portfolio valuation\n- Multi-account aggregation\n\n**Authentication:** Required (API Key or OAuth2 with plaid:holdings scope)\n**Billing:** $0.01 per request\n**Rate Limit:** 60 requests/minute\n",
        "operationId": "getPlaidHoldings",
        "tags": [
          "Plaid Integration"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OAuth2ClientCredentials": [
              "plaid:holdings"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Enriched holdings with risk metrics",
            "headers": {
              "X-API-Cost-USD": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holdings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlaidHolding"
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_value": {
                          "type": "number"
                        },
                        "account_count": {
                          "type": "integer"
                        },
                        "position_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "_agent": {
                      "$ref": "#/components/schemas/AgentMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/{ticker}": {
      "get": {
        "summary": "Latest risk metrics snapshot",
        "description": "Returns the latest V3 daily metrics for the ticker. Numeric fields are under the `metrics` object using abbreviated keys (`l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr`, `l3_mkt_er`, `l3_res_er`, `vol_23d`, etc.). The observation date is `teo`. Optional `display` maps keys to human-readable labels.\n\n**Authentication:** Required (API Key or OAuth2)\n**Billing:** $0.005 per request (deducted from account balance)\n**Rate Limit:** 60 requests/minute (default)\n",
        "operationId": "getMetrics",
        "tags": [
          "Risk Metrics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OAuth2ClientCredentials": [
              "ticker-returns"
            ]
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker symbol (case-insensitive).",
            "example": "NVDA"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest metrics snapshot.",
            "headers": {
              "X-API-Cost-USD": {
                "schema": {
                  "type": "string"
                },
                "description": "Cost deducted for this request (e.g. \"0.005\")."
              },
              "X-Cache-Status": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "HIT",
                    "MISS",
                    "BYPASS"
                  ]
                }
              },
              "X-Data-Freshness": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Request limit per minute"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in current window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsSnapshotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Insufficient balance"
                    },
                    "balance_usd": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Symbol not found or no metrics row (see error message).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded. Try again at 2026-03-07T12:34:56Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ticker-returns": {
      "get": {
        "summary": "Daily returns time series with rolling hedge ratios",
        "description": "Returns a daily time series of gross stock returns (`returns_gross`) and V3 rolling hedge ratios and explained-risk fields per day: `l3_mkt_hr`, `l3_sec_hr`, `l3_sub_hr`, `l3_mkt_er`, `l3_sec_er`, `l3_sub_er`, `l3_res_er`. Up to 15 years per request. For the full L1/L2/L3 **snapshot** (all six HR names on the latest day), use `GET /metrics/{ticker}` (`metrics` object). Response does not include a top-level `_agent` block; billing is applied server-side. Cost: $0.005/call regardless of years pulled.\n",
        "operationId": "getTickerReturns",
        "tags": [
          "Risk Metrics"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NVDA"
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15,
              "default": 1
            },
            "description": "Number of years of history to return."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of rows to return."
          },
          {
            "name": "nocache",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Bypass cache (incurs cost even if identical request was recently made)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "parquet",
                "csv"
              ],
              "default": "json"
            },
            "description": "Response format. `json` (default) returns `TickerReturnsResponseV3` (symbol, ticker, `data` rows with V3 field names, `meta`). Export formats may differ — confirm column names in your client when using `parquet` or `csv`.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Time series of daily returns and V3 rolling HR/ER fields.",
            "content": {
              "application/x-parquet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerReturnsResponseV3"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientBalance"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/returns": {
      "get": {
        "summary": "Daily gross returns time series (single ticker)",
        "description": "Returns daily gross returns for a single stock. Simpler than `/ticker-returns` (no hedge ratios). Cost: $0.005/call.\n",
        "operationId": "getReturns",
        "tags": [
          "Risk Metrics"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "parquet",
                "csv"
              ],
              "default": "json"
            },
            "description": "Response format. Parquet/CSV return tabular (date, returns_gross)."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily returns.",
            "content": {
              "application/x-parquet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    },
                    "periodicity": {
                      "type": "string"
                    },
                    "returns_gross": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "_metadata": {
                      "$ref": "#/components/schemas/RiskMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing ticker."
          },
          "404": {
            "description": "Ticker not found."
          }
        }
      }
    },
    "/etf-returns": {
      "get": {
        "summary": "Daily gross returns time series (ETF)",
        "description": "Returns daily gross returns for an ETF (e.g. SPY, XLK). Cost: $0.005/call.\n",
        "operationId": "getEtfReturns",
        "tags": [
          "Risk Metrics"
        ],
        "parameters": [
          {
            "name": "etf",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPY",
            "description": "ETF ticker symbol."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "parquet",
                "csv"
              ],
              "default": "json"
            },
            "description": "Response format. Parquet/CSV return tabular (date, returns_gross)."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily ETF returns.",
            "content": {
              "application/x-parquet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    },
                    "periodicity": {
                      "type": "string"
                    },
                    "dates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "returns_gross": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "_metadata": {
                      "$ref": "#/components/schemas/RiskMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing etf."
          },
          "404": {
            "description": "ETF not found."
          }
        }
      }
    },
    "/l3-decomposition": {
      "get": {
        "summary": "L3 factor decomposition time series",
        "description": "Returns columnar time series of L3 hedge ratios and explained-risk fractions (parallel arrays by trading date) from V3 `security_history`. Components: market, sector, subsector, residual. Includes `ticker`, `universe`, and `data_source`. This route does not append `_agent` to the JSON body in the current implementation; use headers / account balance for billing if applicable.\n",
        "operationId": "getL3Decomposition",
        "tags": [
          "Risk Metrics"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NVDA"
          },
          {
            "name": "market_factor_etf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPY"
            },
            "description": "Market factor ETF (passed through to the decomposition service)."
          }
        ],
        "responses": {
          "200": {
            "description": "Columnar L3 HR/ER time series (V3).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/L3DecompositionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientBalance"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/batch/analyze": {
      "post": {
        "summary": "Multi-ticker batch analysis (25% discount)",
        "description": "Fetch data for up to 100 tickers in one JSON response (`results` map keyed by ticker). Supported `metrics` flags: `returns` (daily arrays with `l1`/`l2`/`l3` columns — see operation schema for semantics), `hedge_ratios` (latest six hedge ratios with **short** keys `l1_market`, …), `full_metrics` (flat L1/L2/L3 ER/HR snapshot with **long** keys `l1_market_hr`, `l1_market_er`, …). Request every block you need: `metrics` is a whitelist (no silent backfill). For ERM3 zarr parity (`L*_ER` / `L*_HR`), request `[\"full_metrics\",\"hedge_ratios\"]` and see docs/ERM3_ZARR_API_PARITY.md. The `l3_decomposition` flag is accepted but may be unpopulated depending on deployment. Cost: $0.002/position, minimum $0.01/call.\n",
        "operationId": "batchAnalyze",
        "tags": [
          "Risk Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tickers",
                  "metrics"
                ],
                "properties": {
                  "tickers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "List of ticker symbols. Maximum 100.",
                    "example": [
                      "AAPL",
                      "MSFT",
                      "NVDA",
                      "GOOGL"
                    ]
                  },
                  "metrics": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "returns",
                        "l3_decomposition",
                        "hedge_ratios",
                        "full_metrics"
                      ]
                    },
                    "description": "Which payloads to include per ticker (`full_metrics` recommended for portfolio screens).",
                    "example": [
                      "full_metrics"
                    ]
                  },
                  "years": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 15,
                    "default": 1,
                    "description": "Number of years of history (applies to `returns` and `l3_decomposition`)."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "parquet",
                      "csv"
                    ],
                    "default": "json",
                    "description": "Parquet/CSV export shapes may differ from JSON; validate columns in your pipeline.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results keyed by ticker (JSON) or export formats when implemented.",
            "headers": {
              "X-Risk-Model-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "ERM3 model version (align with zarr slice / `_metadata.model_version`)."
              },
              "X-Data-As-Of": {
                "schema": {
                  "type": "string",
                  "format": "date"
                },
                "description": "Latest trading date for the batch snapshot."
              },
              "X-Factor-Set-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Factor set identifier (e.g. SPY_uni_mc_3000)."
              },
              "X-Universe-Size": {
                "schema": {
                  "type": "integer"
                },
                "description": "Universe count for this model build."
              },
              "X-API-Cost-USD": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/x-parquet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or too many tickers (> 100).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientBalance"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/tickers": {
      "get": {
        "summary": "Ticker universe search",
        "description": "List tickers in the universe or search by name/symbol. Free endpoint (no charge). Use the `mag7` flag to retrieve the MAG7 tickers. Use `include_metadata` for sector and ETF assignment per ticker.\n",
        "operationId": "getTickers",
        "tags": [
          "Utility"
        ],
        "security": [],
        "parameters": [
          {
            "name": "array",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ticker",
                "teo"
              ]
            },
            "description": "`ticker` returns all ticker symbols. `teo` returns valid trading dates."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search string matched against ticker symbol or company name.",
            "example": "NVDA"
          },
          {
            "name": "mag7",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return only MAG7 tickers (AAPL, MSFT, NVDA, GOOGL, AMZN, META, TSLA)."
          },
          {
            "name": "include_metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include sector, sector ETF, and subsector ETF per ticker."
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker list or search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "AAPL",
                        "MSFT",
                        "NVDA"
                      ]
                    },
                    "metadata": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "sector": {
                            "type": "string"
                          },
                          "sector_etf": {
                            "type": "string"
                          },
                          "subsector_etf": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimate": {
      "post": {
        "summary": "Estimate request cost",
        "description": "Returns predicted cost before a request is made. Free to call, requires authentication. Used by AI agents for pre-flight cost checks.\n",
        "operationId": "estimateCost",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OAuth2ClientCredentials": [
              "*"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpoint"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "example": "ticker-returns",
                    "description": "Target endpoint (ticker-returns, batch-analyze, l3-decomposition, etc.)"
                  },
                  "params": {
                    "type": "object",
                    "description": "Same params as the target endpoint",
                    "example": {
                      "ticker": "AAPL",
                      "years": 5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unknown endpoint or invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Service health check",
        "description": "Returns current service status, version, and capability availability. Free, no auth required.",
        "operationId": "getHealth",
        "tags": [
          "Utility"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "up",
                        "degraded",
                        "down"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "string",
                      "example": "3.0.0-agent"
                    },
                    "services": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "capabilities": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "summary": "Account balance and rate limits",
        "description": "Returns current prepaid balance, account status, and rate-limit settings for the authenticated token.",
        "operationId": "getBalance",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account balance and status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "user@example.com"
                    },
                    "balance_usd": {
                      "type": "number",
                      "format": "float",
                      "example": 24.85
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "account_type": {
                      "type": "string",
                      "example": "pay_as_you_go"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "string",
                          "example": "active"
                        },
                        "billing": {
                          "type": "string",
                          "example": "ok"
                        },
                        "can_make_requests": {
                          "type": "boolean"
                        }
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "rate_limit_per_minute": {
                          "type": "integer",
                          "example": 60
                        },
                        "daily_request_limit": {
                          "type": "integer",
                          "nullable": true
                        }
                      }
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "Invoice history and spend summary",
        "description": "Returns paginated invoice history and a summary of spend by period (month/quarter/year).",
        "operationId": "getInvoices",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of invoices to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "month",
                "quarter",
                "year"
              ],
              "default": "month"
            },
            "description": "Aggregation period for spend summary."
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list and spend summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "amount_usd": {
                            "type": "number",
                            "format": "float"
                          }
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string"
                        },
                        "total_invoices": {
                          "type": "integer"
                        },
                        "total_spent_usd": {
                          "type": "number",
                          "format": "float"
                        },
                        "total_requests": {
                          "type": "integer"
                        },
                        "current_period_cost_usd": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/auth/provision": {
      "post": {
        "summary": "Provision an API key",
        "description": "Exchange a valid session JWT for a long-lived Bearer API key in format `rm_agent_{live|test}_{random}_{checksum}`. Intended for AI agents that need a stable key for repeated calls.\n",
        "operationId": "provisionToken",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "New API key provisioned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "example": "rm_agent_live_a1b2c3d4_xyz789"
                    },
                    "environment": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session JWT.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telemetry": {
      "get": {
        "summary": "Telemetry metrics",
        "description": "Performance and reliability metrics for API capabilities. Optional filter by capability and number of days. Cost: $0.002/call.\n",
        "operationId": "getTelemetry",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "capability",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific capability id to get metrics for."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 90
            },
            "description": "Number of days of historical data."
          }
        ],
        "responses": {
          "200": {
            "description": "Telemetry metrics for the requested period."
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientBalance"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "AI Risk Analyst",
        "description": "Natural language risk analysis via conversational AI (GPT-4). Request body includes messages array and optional model (default gpt-4o-mini). Billed per token.\n",
        "operationId": "postChat",
        "tags": [
          "Risk Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model to use (default gpt-4o-mini)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant reply and optional tool calls."
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientBalance"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitExceeded"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Risk Metrics",
      "description": "ERM3 factor hedge ratios, explained risk, and return decompositions."
    },
    {
      "name": "Utility",
      "description": "Ticker search, health, and service discovery."
    },
    {
      "name": "Account",
      "description": "Balance, billing, and invoice management."
    },
    {
      "name": "Authentication",
      "description": "API key provisioning and OAuth2 token management."
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol server endpoints for AI agents."
    },
    {
      "name": "Plaid Integration",
      "description": "Live portfolio synchronization via Plaid Investments API."
    },
    {
      "name": "Compliance",
      "description": "AI marketplace compliance and discovery manifests."
    },
    {
      "name": "Privacy",
      "description": "Data handling and privacy disclosure."
    },
    {
      "name": "Discovery",
      "description": "Service discovery and capability manifests."
    }
  ]
}